<div class="assignment-container m-2">
    <h1 class="text-center p-2 m-2 font-bold text-xl">Resource Assignment</h1>

    <div class="searches" [formGroup]="AssignmentSearchForm " class=" rounded-md border m-2 bg-red-50 w-full">
        <form [formGroup]="AssignmentSearchForm" class="flex m-2 font-medium w-32 gap-1">
            <div>
                <label class="text-xs">ReservationNo</label>
                <input type="search" formControlName="BookingNo" class="rounded-md border-gray-300 h-8 w-24">
            </div>
            <div [formGroup]="AssignmentSearchForm">
                <label class="text-xs">Reservation Status</label>
                <select class="text-sm form-control h-8 w-32" formControlName="BookingStatus" id="BookingStatus">
                    <option selected *ngFor="let status of bookingStatusData" value="{{ status.category_Options }}">
                        {{ status.category_Options }}
                    </option>
                </select>
            </div>
            <div [formGroup]="AssignmentSearchForm">
                <label class="text-xs">Reservation Category</label>
                <select class="text-sm form-control w-32" id=" BookingCategory" formControlName="BookingCategory">
                    <option *ngFor="let category of bookingCategoriesData" value="{{ category.category_Options }}">
                        {{ category.category_Options }}
                    </option>
                </select>
            </div>
            <div>
                <label class="text-xs ">Branch</label>
                <!-- <input type="search" formControlName="Branch" class="rounded-md  border-gray-300 h-8 w-24"> -->
                <select class="text-sm form-control rounded-md  border-gray-300 h-8 w-24" id=" Branch"
                    formControlName="Branch">
                    <option *ngFor="let branch of bookingBranchData" value="{{ branch.category_Options }}">
                        {{ branch.category_Options }}
                    </option>
                </select>
            </div>
            <div class="">
                <label class="text-xs">VehicleMake</label>
                <input type="text" formControlName="vehicleMake" class="rounded-md  border-gray-300 h-8 w-24">
            </div>
            <div class="">
                <label class="text-xs">RegNo</label>
                <input type="text" formControlName="VehicleId" class="rounded-md  border-gray-300 h-8 w-24">
            </div>
            <div class="">
                <div class="flex gap-2">
                    <div>
                        <label for="fromDate" class="text-xs">From Date Time</label>
                        <input type="datetime-local" id="FromDateTime" formControlName="FromDateTime"
                            class="rounded-md border-gray-300 text-sm h-8 w-32">
                    </div>
                    <div>
                        <label for="toDate" class="text-xs">To Date Time</label>
                        <input type="datetime-local" id="ToDateTime" formControlName="ToDateTime"
                            class="rounded-md border-gray-300 text-sm h-8 w-32">
                    </div>
                </div>
            </div>
            <div>
                <button (click)="resourceSearching()"
                    class="float-left mt-4 rounded-md p-2 text-white text-xs bg-red-700 " type="button">Search</button>
            </div>
        </form>


    </div>


    <table datatable [dtOptions]="dtOptions" class="row-border hover booking  " class="display">
        <thead class=" text-sm bg-red-50">
            <tr>
                <th class="text-center">ReservationNo</th>
                <!-- <th>Branch</th> -->
                <!-- <th>BookingStatus</th> -->
                <!-- <th>Booking Date</th> -->
                <th class="text-center">TripStatus</th>
                <th class="text-center">PickUp Address</th>
                <th class="text-center">Drop Address</th>
                <th class="text-center">Branch</th>
                <th class="text-center">Company Name</th>
                <th class="text-center">BookingFor</th>
                <th class="text-center">PickupName</th>
                <th class="text-center">Driver</th>
                <th class="text-center">vehicleMake</th>
                <th class="text-center">vehicleModel</th>
                <th class="text-center">Reg No</th>
                <th class="text-center">FromDateTime</th>
                <th class="text-center">ToDateTime</th>
                <th>BookingCategory</th>

                <th class="text-center">Action</th>
                <th class="text-center">Action</th>


            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let assignment of assignmentAllTrips">
                <tr class="text-xs  text-center whitespace-nowrap">
                    <td>{{ assignment.BookingNo }}/{{assignment.tripNumber}}</td>
                    <!-- <td>{{ assignment.Branch }}</td> -->
                    <!-- <td>{{ assignment.BookingStatus }}</td> -->
                    <!-- <td>{{ assignment.BookingDate }}</td> -->
                    <td>{{ assignment.TripStatus }}</td>
                    <td>{{ assignment.PickupAddress }}</td>
                    <td>{{ assignment.DropAddress }}</td>
                    <td>{{assignment.Branch}}</td>
                    <td>{{assignment.companyName}}</td>
                    <td>{{assignment.BookingFor}}</td>
                    <td>{{assignment.PickupName}}</td>
                    <td>{{ assignment.DriverName }}</td>
                    <td>{{ assignment.VehicleMake }}</td>
                    <td>{{ assignment.VehicleModel }}</td>
                    <td>{{ assignment.chosenRegNo }}</td>
                    <td>{{assignment.TripFromDateTime}}</td>
                    <td>{{assignment.TripToDateTime}}</td>
                    <td>{{ assignment.BookingCategory }}</td>

                    <td><button (click)="openEditAssignment(editAssignment)"
                            (click)="fetchTrip(assignment.TripId)">AssignResource</button>

                    </td>
                    <td>

                        <!-- <button>
                            <a class="nav-link" href="delivery" [routerLink]="[
                            '/delivery',
                            assignment.TripId
                          ]" routerLinkActive="active">
                                IN/OUT
                            </a>
                        </button> -->
                        <button *ngIf="assignment.chosenRegNo">
  <a class="nav-link" [routerLink]="['/delivery', assignment.TripId]" routerLinkActive="active">
    IN/OUT
  </a>
</button>

                          
                    </td>

                    <!-- <td>{{ assignment.ReservationId }}</td> -->
                </tr>

            </ng-container>
        </tbody>
    </table>

    <ng-template #editAssignment let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Resource Assignment</h4>
        </div>
        <div class="modal-body">
            <form class="m-2 text-sm border rounded-md w-full" [formGroup]="tripAssignmentForm">
                <div class="grid grid-cols-3">

                    <div class="m-2 text-sm gap-2" [formGroup]="tripAssignmentForm">
                        <label>ReservationNo</label>
                        <input type="text" class="rounded-md border border-gray-400 form-control" id="BookingNo"
                            readonly formControlName="BookingNo" />
                    </div>
                    <div class="m-2 text-sm gap-2" [formGroup]="tripAssignmentForm" hidden>
                        <label>TripId</label>
                        <input type="text" class="rounded-md border border-gray-400 form-control" id="TripId" readonly
                            formControlName="TripId" />
                    </div>
                    <div class="m-2 text-sm gap-2" [formGroup]="tripAssignmentForm">
                        <label>TripNo</label>
                        <input type="text" class="rounded-md border border-gray-400 form-control" id="tripNumber" readonly
                            formControlName="tripNumber" />
                    </div>

                    <div class="m-2 text-sm gap-2" [formGroup]="tripAssignmentForm">
                        <label>ReservationCategory</label>
                        <input type="text" class="rounded-md border border-gray-400 form-control" id="BookingCategory"
                            readonly formControlName="BookingCategory" />
                    </div>
                </div>


                <div class="vehicleDetails grid grid-cols-3 mb-2">
                    <div class="m-2" [formGroup]="tripAssignmentForm">
                        <label> Vehicle Make </label>
                        <select class="text-sm form-control" id="VehicleMake" formControlName="VehicleMake"
                            (change)="fetchModels(tripAssignmentForm.get('VehicleMake')?.value)">
                            <option *ngFor="let vehicleMake of  vehicleMakeList"
                                value="{{ vehicleMake.category_Options }}">
                                {{ vehicleMake.category_Options }}
                            </option>
                        </select>
                        <div *ngIf="
                                          (tripAssignmentForm.get('vehicleMake')?.invalid &&
                                            tripAssignmentForm.get('vehicleMake')?.errors &&
                                            tripAssignmentForm.get('vehicleMake')?.dirty) ||
                                          tripAssignmentForm.get('vehicleMake')?.touched
                                        ">
                            <small class="text-red-700"
                                *ngIf="tripAssignmentForm.get('vehicleMake')?.hasError('required')">*This
                                field
                                is
                                required</small>
                            <small class="text-red-700"
                                *ngIf="tripAssignmentForm.get('vehicleMake')?.hasError('required')">*This
                                field
                                is
                                required</small>
                        </div>
                    </div>
                    <div class="m-2" [formGroup]="tripAssignmentForm">
                        <label> Vehicle Model</label>
                        <select class="text-sm form-control" id="VehicleModel" formControlName="VehicleModel">
                            <option>Select model</option>
                          <option *ngFor="let vehicleModel of vehicleModelList" [value]="vehicleModel.category_Options_1">
                            {{ vehicleModel.category_Options_1 }}
                          </option>
                        </select>
                        <div *ngIf="(tripAssignmentForm.get('VehicleModel')?.invalid && tripAssignmentForm.get('VehicleModel')?.errors && tripAssignmentForm.get('VehicleModel')?.dirty) || tripAssignmentForm.get('VehicleModel')?.touched">
                          <small class="text-red-700" *ngIf="tripAssignmentForm.get('VehicleModel')?.hasError('required')">*This field is required</small>
                        </div>
                      </div>
                      
                    <!-- <div class="m-2" [formGroup]="tripAssignmentForm">
                        <label> Vehicle Model</label>
                        <select class="text-sm form-control" id="VehicleModel" formControlName="VehicleModel"         
                        (click)="getVehicleRegNo(tripAssignmentForm.get('VehicleModel').value)"
                        >
                            <option *ngFor="let vehicleModel of vehicleModelList"
                                value="{{ vehicleModel.category_Options_1 }}">
                                {{ vehicleModel.category_Options_1 }}
                            </option>
                        </select>
                        <div *ngIf="
                        (tripAssignmentForm.get('vehicleModel')?.invalid &&
                          tripAssignmentForm.get('vehicleModel')?.errors &&
                          tripAssignmentForm.get('vehicleModel')?.dirty) ||
                        tripAssignmentForm.get('vehicleModel')?.touched
                      ">
                            <small class="text-red-700"
                                *ngIf="tripAssignmentForm.get('VehicleModel')?.hasError('required')">*This
                                field
                                is required</small>
                        </div>
                    </div> -->



                    <!-- (change)="checkVehicleAssignment(tripAssignmentForm.get('vehicleID')?.value,tripAssignmentForm.get('FromDateTime')?.value,tripAssignmentForm.get('ToDateTime')?.value)"> -->



                    <div class="m-2" [formGroup]="tripAssignmentForm">
                        <label for="VehicleId">Vehicle Registration</label>
                        
                        <select #vehicleID class="text-sm form-control" formControlName="vehicleID" id="vehicleID"
                            (change)="onVehicleChange($event)"
                            >
                            <option value="">Select vehicleRegistration</option>
                            <option *ngFor="let vehicle of fetchedVehicleList" [value]='vehicle.vehicleID' [attr.data-regno]='vehicle.vehicleRegNo'>
                                {{ vehicle.vehicleRegNo }}
                            </option>
                        </select>

                        <div *ngIf="vehicleAssignedError" class="text-red-700">
                            <small>*This vehicle is already assigned to {{
                                tripAssignmentForm.get('ReservationId')?.value }}</small>
                        </div>
                        <div *ngIf="(tripAssignmentForm.get('vehicleRegistration')?.invalid &&
                                    tripAssignmentForm.get('vehicleRegistration')?.errors &&
                                    tripAssignmentForm.get('vehicleRegistration')?.dirty) ||
                                  tripAssignmentForm.get('vehicleRegistration')?.touched">
                            <small class="text-red-700"
                                *ngIf="tripAssignmentForm.get('BookingFor')?.hasError('required')">*This field
                                is
                                required</small>
                        </div>
                    </div>
                    <div class="m-2" [formGroup]="tripAssignmentForm"
                        *ngIf="fetchedTripList && fetchedTripList.length > 0 && fetchedTripList[0]?.BookingCategory === 'ChaufferDriven'">
                        <label>Select Driver</label>
                        <select #Driver class="text-sm form-control" formControlName="DriverId" id="DriverId"
                            (change)="checkDriverAssignment(Driver.value,tripAssignmentForm.get('FromDateTime')?.value,tripAssignmentForm.get('ToDateTime')?.value)">
                            <option *ngFor="let driver of chaufferDriversList" [value]="driver.DriverId">{{
                                driver.DriverFirstName }}</option>
                              
                        </select>
                        <div *ngIf="driverAssignedError" class="text-red-700">
                        </div>
                        <div
                            *ngIf="(tripAssignmentForm.get('DriverId')?.invalid && tripAssignmentForm.get('DriverId')?.errors && tripAssignmentForm.get('DriverId')?.dirty) || tripAssignmentForm.get('DriverId')?.touched">
                            <small class="text-red-700"
                                *ngIf="tripAssignmentForm.get('DriverId')?.hasError('required')">*This field is
                                required</small>
                        </div>
                    </div>


                    <!-- <div class="tripDetails-container  border-gray-50 mb-2"> -->
                    <div class="m-2 ">
                        <label>From Date Time</label>
                        <div class="input-group border rounded-md" [formGroup]="tripAssignmentForm">
                            <input type="datetime-local" class="text-sm form-control rounded-md border-gray-50"
                                formControlName="FromDateTime" id="FromDateTime" />
                            <div *ngIf="
                                    (tripAssignmentForm.get('FromDateTime')?.invalid &&
                                      tripAssignmentForm.get('FromDateTime')?.errors &&
                                      tripAssignmentForm.get('FromDateTime')?.dirty) ||
                                    tripAssignmentForm.get('FromDateTime')?.touched
                                  ">
                                <small class="text-red-700"
                                    *ngIf="tripAssignmentForm.get('FromDateTime')?.hasError('required')">*This
                                    field is
                                    required</small>
                            </div>
                        </div>
                    </div>
                    <div class="m-2">
                        <label>To Date Time</label>
                        <div class="input-group border rounded-md" [formGroup]="tripAssignmentForm">
                            <input type="datetime-local" class="text-sm form-control rounded-md border-gray-50"
                                formControlName="ToDateTime" id="ToDateTime" />

                            <div *ngIf="
                                    (tripAssignmentForm.get('ToDateTime')?.invalid &&
                                      tripAssignmentForm.get('ToDateTime')?.errors &&
                                      tripAssignmentForm.get('ToDateTime')?.dirty) ||
                                    tripAssignmentForm.get('ToDateTime')?.touched
                                  ">
                                <small class="text-red-700"
                                    *ngIf="tripAssignmentForm.get('ToDateTime')?.hasError('required')">*This field
                                    is
                                    required</small>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="grid grid-cols-3">
                    <div class="m-2 text-sm gap-2" [formGroup]="tripAssignmentForm">
                        <label>Pickup Address</label>
                        <input type="text" class="rounded-md border border-gray-400 form-control h-24"
                            formControlName="PickupAddress" id="PickupAddress" />
                        <div *ngIf="
                                  (tripAssignmentForm.get('PickupAddress')?.invalid &&
                                    tripAssignmentForm.get('PickupAddress')?.errors &&
                                    tripAssignmentForm.get('PickupAddress')?.dirty) ||
                                  tripAssignmentForm.get('PickupAddress')?.touched
                                ">
                            <small class="text-red-700" *ngIf="
                                    tripAssignmentForm.get('PickupAddress')?.hasError('required')
                                  ">*This field is required</small>
                        </div>
                    </div>
                    <div class="m-2 text-sm gap-2 " [formGroup]="tripAssignmentForm">
                        <label>Drop Address</label>
                        <input type="text" class="rounded-md border border-gray-400 form-control h-24"
                            formControlName="DropAddress" id="DropAddress" />
                        <div *ngIf="
                                  (tripAssignmentForm.get('DropAddress')?.invalid &&
                                    tripAssignmentForm.get('DropAddress')?.errors &&
                                    tripAssignmentForm.get('DropAddress')?.dirty) ||
                                  tripAssignmentForm.get('DropAddress')?.touched
                                ">
                            <small class="text-red-700"
                                *ngIf="tripAssignmentForm.get('DropAddress')?.hasError('required')">*This field
                                is
                                required</small>
                        </div>
                    </div>
                    <div></div>
                    <div class="m-2 text-sm gap-2" [formGroup]="tripAssignmentForm">
                        <label>PickupName</label>
                        <input type="text" class="rounded-md border border-gray-400 form-control "
                            formControlName="BookingFor" id="BookingFor" />
                        <div *ngIf="
                                  (tripAssignmentForm.get('BookingFor')?.invalid &&
                                    tripAssignmentForm.get('BookingFor')?.errors &&
                                    tripAssignmentForm.get('BookingFor')?.dirty) ||
                                  tripAssignmentForm.get('BookingFor')?.touched
                                ">
                            <small class="text-red-700" *ngIf="
                                    tripAssignmentForm.get('BookingFor')?.hasError('required')
                                  ">*This field is required</small>
                        </div>
                    </div>
                    <div class="m-2 text-sm gap-2" [formGroup]="tripAssignmentForm">
                        <label>Pickup Contact No</label>
                        <input type="text" class="rounded-md border border-gray-400 form-control "
                            formControlName="PickupContactNo" id="PickupContactNo" />
                        <div *ngIf="
                                  (tripAssignmentForm.get('PickupContactNo')?.invalid &&
                                    tripAssignmentForm.get('PickupContactNo')?.errors &&
                                    tripAssignmentForm.get('PickupContactNo')?.dirty) ||
                                  tripAssignmentForm.get('PickupContactNo')?.touched
                                ">
                            <small class="text-red-700" *ngIf="
                                    tripAssignmentForm.get('PickupContactNo')?.hasError('required')
                                  ">*This field is required</small>
                        </div>
                    </div>
                </div>


                <div class="grid grid-cols-2 ">


                    <div class="m-2" [formGroup]="tripAssignmentForm"
                        *ngIf="fetchedTripList && fetchedTripList.length > 0 && fetchedTripList[0]?.BookingCategory === 'ChaufferDriven'">
                        <label> Driver Status</label>
                        <select class="text-sm form-control" formControlName="DriverServiceStatus"
                            id=" DriverServiceStatus">

                            <option *ngFor="
                                    let DriverServiceStatus of driverServiceStatusList
                                  " value="{{ DriverServiceStatus.category_Options }}">
                                {{ DriverServiceStatus.category_Options }}
                            </option>

                        </select>
                        <div *ngIf="
                                  (tripAssignmentForm.get('DriverServiceStatus')?.invalid &&
                                    tripAssignmentForm.get('DriverServiceStatus')?.errors &&
                                    tripAssignmentForm.get('DriverServiceStatus')?.dirty) ||
                                  tripAssignmentForm.get('DriverServiceStatus')?.touched
                                ">
                            <small class="text-red-700" *ngIf="
                                    tripAssignmentForm
                                      .get('DriverServiceStatus')
                                      ?.hasError('required')
                                  ">*This field is required</small>
                        </div>
                    </div>

                    <div class="m-2 text-sm gap-2" [formGroup]="tripAssignmentForm">
                        <label>Trip Status</label>
                        <select readonly class="text-sm form-control" formControlName="TripStatus" id="TripStatus">
                            <option *ngFor="let TripStatus of tripStatusList" value="{{ TripStatus.category_Options }}">
                                {{ TripStatus.category_Options }}
                            </option>
                        </select>

                        <div *ngIf="
                                  (tripAssignmentForm.get('TripStatus')?.invalid &&
                                    tripAssignmentForm.get('TripStatus')?.errors &&
                                    tripAssignmentForm.get('TripStatus')?.dirty) ||
                                  tripAssignmentForm.get('TripStatus')?.touched
                                ">
                            <small class="text-red-700"
                                *ngIf="tripAssignmentForm.get('TripStatus')?.hasError('required')">*This field
                                is
                                required</small>
                        </div>
                    </div>

                </div>
                <div>
                    <div class="m-2 text-sm "   [formGroup]="tripAssignmentForm" >
                        <label>Description</label>
                        <input type="text" class="rounded-md border border-gray-400 form-control h-24 w-max-84"
                          formControlName="Remarks" id="Remarks" />
                        </div>                    <!-- <button 
                        class="border rounded-md m-2 p-2 text-center w-24 text-red-700 hover:bg-red-700 hover:text-white"
                        (click)="generateCDO(tripAssignmentForm.get('TripId').value)">
                        CDO
                        <mat-icon class="p-1">get_app</mat-icon>
                    </button> -->
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')"
                        (click)="assignResource(tripAssignmentForm.get('TripId').value)">Save</button>
                </div>
            </form>
        </div>

    </ng-template>




</div>














<!-- 
<two click events for vehiclefetch and assignmnent></two>

    <div class="m-2" [formGroup]="tripAssignmentForm">
        <label for="VehicleId">Vehicle Registration</label>
        <select #vehicleID class="text-sm form-control" formControlName="vehicleID" id="vehicleID"
            (click)="getVehicleRegNo(tripAssignmentForm.get('VehicleModel').value)"
            (change)="checkVehicleAssignment(tripAssignmentForm.get('vehicleID')?.value,tripAssignmentForm.get('FromDateTime')?.value,tripAssignmentForm.get('ToDateTime')?.value)">


            <option value="">Select vehicleRegistration</option>
            <option *ngFor="let vehicle of fetchedVehicleList" value="{{vehicle.vehicleID}}">
                {{ vehicle.vehicleRegNo }}
            </option>
        </select>
        <div *ngIf="vehicleAssignedError" class="text-red-700">
            <small>*This vehicle is already assigned to {{
                tripAssignmentForm.get('ReservationId')?.value }}</small>
        </div>
        <div *ngIf="(tripAssignmentForm.get('vehicleRegistration')?.invalid &&
                    tripAssignmentForm.get('vehicleRegistration')?.errors &&
                    tripAssignmentForm.get('vehicleRegistration')?.dirty) ||
                  tripAssignmentForm.get('vehicleRegistration')?.touched">
            <small class="text-red-700"
                *ngIf="tripAssignmentForm.get('BookingFor')?.hasError('required')">*This field
                is
                required</small>

        </div>
    </div> -->