<div class="vehicles p-2">
  <h1 class="font-bold text-3xl text-center">Vehicles Screen</h1>
  <div class="vehicleData-container gap-2 p-2 m-2 text-sm border border-gray-500 rounded-md">
    <form [formGroup]="vehicleSearchForm" class="flex">
      <div class="flex gap-2" [formGroup]="vehicleSearchForm">
        <div class="flex gap-1">
          <div>
            <label class="text-xs">From Date</label>
            <input type="date" formControlName="fromDate" class="rounded-md border-gray-300 text-sm h-8 w-32" />
          </div>
          <div>
            <label class="text-xs">To Date</label>
            <input type="date" formControlName="toDate" class="rounded-md border-gray-300 text-sm h-8 w-32" />
          </div>
        </div>
      </div>
      <div>
        <label class="text-xs">Vehicle Make</label>
        <select class="text-sm form-control" id="VehicleMake" formControlName="VehicleMake"
          class="rounded-md border-gray-300 text-sm h-8 w-32"
          (change)="fetchModels(tripForm.get('VehicleMake')?.value)">
          <option *ngFor="let vehicleMake of vehicleMakeList" value="{{ vehicleMake.category_Options }}">
            {{ vehicleMake.category_Options }}
          </option>
        </select>
      </div>
      <div>
        <label class="text-xs"> Vehicle Model</label>
        <select class="text-sm form-control" id="VehicleModel" formControlName="VehicleModel"
          class="rounded-md border-gray-300 text-sm h-8 w-32">
          <option *ngFor="let vehicleModel of vehicleModelList" value="{{ vehicleModel.category_Options_1 }}">
            {{ vehicleModel.category_Options_1 }}
          </option>
        </select>
      </div>
      <div>
        <label>Reg No</label>
        <input type="text" class="rounded-md border w-32 border-gray-400 p-1" />
      </div>
      <button (click)="vehicleSearching()" class="float-left mt-4 rounded-md p-2 text-white text-xs bg-red-700"
        type="button">
        Search
      </button>
    </form>
  </div>

  <button class="p-2 text-white text-sm rounded-md bg-red-700 m-2" (click)="openLg(content)">
    Add Vehicle
  </button>
  <!-- upload vehicles  start-->
  <!-- <div class="container container-table">
    <div class="row vertical-center-row"> -->
  <div class="text-center col-md-4 col-md-offset-4">
    <form [formGroup]="uploadVehiclesForm" class="" (ngSubmit)="submit()">
      <div class="form-group float-right m-2">
        <input formControlName="file" id="csv" type="file"
          style="position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;"
          (change)="onFileChange($event)" multiple />
        <label for="csv" style="cursor: pointer; padding: 0.5em 1em;  border-radius: 0.25rem;"
          class="text-sm text-black">
          <mat-icon style="vertical-align: middle;">upload</mat-icon>
          Select CSV File
        </label>
        <div *ngIf="filePath">
          <p>File Path: {{ filePath }}</p>
        </div>
        <button style="padding: 0.5em 1em;  color: #fff; border: none; border-radius: 0.25rem; cursor: pointer;"
          type="submit" class="bg-green-700 text-sm">
          Bulk Upload
        </button>
      </div>

    </form>
  </div>

  <!-- </div>
  </div> -->
  <!-- upload vehicles  end-->

  <!-- //Add vehicle modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Vehicle</h4>
    </div>
    <div class="modal-body">
      <div class="">
        <div class="forms pb-2">
          <form [formGroup]="vehicleForm">
            <h2 class="font-medium text-2xl text-center">
              Vehicle Master Screen
            </h2>
            <div class="vehicles grid grid-cols-3 gap-4">
              <!-- <div class=" m-4 gap-2"> -->
              <div class="vehicleRegNo text-sm" [formGroup]="vehicleForm">
                <label>Vehicle Reg Number</label>
                <input type="text" id="vehicleRegNo" class="rounded-md form-control border text-black"
                  formControlName="RegNo" />
              </div>
              <div class="vehicleDescription text-sm" [formGroup]="vehicleForm">
                <label>Vehicle Description</label>
                <input type="text" id="vehicleDescription"
                  class="rounded-md form-control border block w-64 p-8 text-black" placeholder=""
                  formControlName="vehicleDescription" required />
              </div>
              <!-- </div> -->

              <!-- <div class="vehicleInput-container grid grid-cols-2 gap-4 m-4"> -->
              <div class="vehicleChassis text-sm" [formGroup]="vehicleForm">
                <label>Chassis Number</label>
                <input type="text" id="vehicleChassis" class="rounded-md form-control border text-black" placeholder=""
                  formControlName="chassisNumber" required />
              </div>

              <div class="vehicleEngine text-sm" [formGroup]="vehicleForm">
                <label>Engine Capacity</label>
                <input type="text" id="vehicleEngine" class="form-control rounded-md border text-black" placeholder=""
                  formControlName=" engineCapacity" required />
              </div>

              <div class="VehicleOwner text-sm" [formGroup]="vehicleForm">
                <label class="text-sm">Vehicle Owner</label>
                <select id="vehicleOwner" class="text-sm form-control rounded-md" formControlName="vehicleOwner"
                  required>
                  <option value="own">Own</option>
                  <option value="subhired">Subhired</option>
                </select>
              </div>

              <div class="vehicleType text-sm" [formGroup]="vehicleForm">
                <label class="text-sm">Vehicle Type</label>
                <select id="vehicleType" formControlName="vehicleType" class="text-sm rounded-md form-control">
                  <option value="4WD">4WD</option>
                  <option value="SEDAN">Sedan</option>
                  <option value="OTHER">Other</option>
                </select>
              </div>

              <div class="vehicleMake text-sm" [formGroup]="vehicleForm">
                <label class="text-sm">Vehicle Make</label>
                <select class="text-sm form-control" id="VehicleMake" formControlName="VehicleMake" (change)="
                    fetchVehicleModels(vehicleForm.get('VehicleMake')?.value)
                  ">
                  <option selected value="toyota">Toyota</option>
                  <option *ngFor="let vehicleMake of vehicleMakeList" value="{{ vehicleMake.category_Options }}">
                    {{ vehicleMake.category_Options }}
                  </option>
                </select>
                <div *ngIf="
                    (vehicleForm.get('vehicleMake')?.invalid &&
                      vehicleForm.get('vehicleMake')?.errors &&
                      vehicleForm.get('vehicleMake')?.dirty) ||
                    vehicleForm.get('vehicleMake')?.touched
                  ">
                  <small class="text-red-700" *ngIf="vehicleForm.get('vehicleMake')?.hasError('required')">*This field
                    is required</small>
                </div>
              </div>

              <div [formGroup]="vehicleForm">
                <label class="text-sm"> Vehicle Model</label>
                <select class="text-sm form-control" id="VehicleModel" formControlName="VehicleModel">
                  <option *ngFor="let vehicleModel of vehicleModelList" value="{{ vehicleModel.category_Options_1 }}">
                    {{ vehicleModel.category_Options_1 }}
                  </option>
                </select>
                <div *ngIf="
                    (vehicleForm.get('vehicleModel')?.invalid &&
                      vehicleForm.get('vehicleModel')?.errors &&
                      vehicleForm.get('vehicleModel')?.dirty) ||
                    vehicleForm.get('vehicleModel')?.touched
                  ">
                  <small class="text-red-700" *ngIf="
                      vehicleForm.get('vehicleModel')?.hasError('required')
                    ">*This field is required</small>
                </div>
              </div>
              <div class="vehicleColor text-sm" [formGroup]="vehicleForm">
                <label>Vehicle Color</label>
                <select id="vehicleColor" class="text-sm rounded-md form-control text-gray-600"
                  formControlName="vehicleColor">
                  <option value="red">Red</option>
                  <option value="black">Black</option>
                  <option value="beige">Beige</option>
                  <option value="Yellow">Yellow</option>
                  <option value="pearl">Pearl</option>
                  <option value="silver">Silver</option>
                  <option value="white">White</option>
                  <option value="blue">Blue</option>
                </select>
              </div>

              <div class="vehicleStatus" [formGroup]="vehicleForm">
                <label class="text-sm">Vehicle Status</label>
                <select id="vehicleStatus" class="text-sm form-control rounded-md" formControlName="vehicleStatus"
                  required>
                  <option selected>Select status</option>
                  <option value="ReadyToUse">Ready To Use</option>
                  <option value="inWorkShop">inWorkShop</option>
                  <option value="Decommisioned">Decomissioned</option>
                  <option value="Sold">Sold</option>
                </select>
              </div>

              <div class="vehicleTransmission text-sm" [formGroup]="vehicleForm">
                <label class="text-sm">Vehicle Transmission</label>
                <select id="vehicleTransmission" formControlName="vehicleTransmission"
                  class="text-sm rounded-md form-control">
                  <option value="4WD">4WD</option>
                  <option value="2WD">2WD</option>
                </select>
              </div>
              <div class="vehicleTransmission text-sm" [formGroup]="vehicleForm">
                <label>Vehicle RSL</label>
                <input type="text" formControlName="vehicleRsl" class="text-sm rounded-md border form-control" />
              </div>
              <!-- </div> -->

              <!-- <div class="datepicker-container grid grid-cols-2 gap-2 m-4"> -->
              <div class="relative w-64 text-sm" [formGroup]="vehicleForm">
                <label>Commision Date</label>
                <input datepicker type="date" class="text-sm form-control rounded-md border"
                  formControlName="commissionDate" id="Select date" />
              </div>
              <div class="relative w-64 text-sm" [formGroup]="vehicleForm">
                <label>Inspection Date</label>
                <div class="input-group">
                  <input type="date" class="text-sm form-control rounded-md border"
                    formControlName="vehicleInspectionDate" id="vehicleInspectionDate" />
                </div>
              </div>

              <div class="relative w-64 text-sm" [formGroup]="vehicleForm">
                <label>Insurance Date</label>
                <div>
                  <input id="vehicleInsuranceDate" datepicker type="date" formControlName="vehicleInsuranceDate"
                    class="text-sm rounded-md form-control border" placeholder="Select date" />
                </div>
              </div>

              <div class="relative w-64 text-sm" [formGroup]="vehicleForm">
                <label>PsvDue Date</label>
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"></div>
                <input id="vehiclePSVDueDate" datepicker type="date" formControlName="vehiclePSVDueDate"
                  class="text-sm rounded-md form-control border" placeholder="Select date" />
              </div>
              <!-- </div> -->

              <!-- <div class="File m-4 grid grid-cols-2" [formGroup]="uploadForm"> -->
                <div style="margin-bottom: 20px;">
                  <input type="file" (change)="onFileUpload($event)" [multiple]="true" [accept]="['.pdf']"
                         style="display: block; margin-bottom: 10px; padding: 8px; border: 1px solid #ddd; border-radius: 4px; width: 100%; box-sizing: border-box;" />
                  <p *ngIf="selectedFile" style="font-size: 14px; color: #333; margin: 0 0 10px 0;">
                    File selected: {{ selectedFile.name }}
                  </p>
                  <button (click)="uploadDoc()" style="padding: 10px 20px; background-color: rgb(165, 30, 30); color: #fff; border: none; border-radius: 4px; cursor: pointer; font-size: 14px;">
                    Upload
                  </button>
                </div>
                <div>
                  <input type="file" (change)="onImageUpload($event)" [multiple]="true" [accept]="['.png']"
                         style="display: block; margin-bottom: 10px; padding: 8px; border: 1px solid #ddd; border-radius: 4px; width: 100%; box-sizing: border-box;" />
                  <p *ngIf="selectedImage" style="font-size: 14px; color: #333; margin: 0 0 10px 0;">
                    Image selected: {{ selectedImage.name }}
                  </p>
                  <button (click)="uploadImg()" style="padding: 10px 20px; background-color:  rgb(165, 30, 30); color: #fff; border: none; border-radius: 4px; cursor: pointer; font-size: 14px;">
                    Upload
                  </button>
                </div>
                
              <!-- </div> -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="saveVehicle()" (click)="modal.close()">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="vehicle-table">
    <table datatable class="table border border-2-black hover text-sm">
      <thead class="align-text-top text-center">
        <tr>
          <th>Vehicle Make</th>
          <th>Vehicle Model</th>
          <th>Reg No</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicles of VehiclesData" class="text-center">
          <td>{{ vehicles.VehicleMake }}</td>
          <td>{{ vehicles.VehicleModel }}</td>
          <td>{{ vehicles.vehicleRegNo }}</td>
          <td>{{ vehicles.vehicleStatus }}</td>
          <td><button (click)="openVedit(Vehicle)">Edit</button></td>
          <td>
            <button (click)="viewVehicle()">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #Vehicle let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Vehicle</h4>
    </div>
    <div class="modal-body">
      <div class="">
        <div class="forms pb-2">
          <form [formGroup]="vehicleForm">
            <h2 class="font-medium text-2xl text-center">
              Vehicle Master Screen
            </h2>
            <div class="grid grid-cols-2 m-4 gap-2">
              <div class="vehicleRegNo text-sm" [formGroup]="vehicleForm">
                <label>Vehicle Reg Number</label>
                <input type="text" id="vehicleRegNo" class="rounded-md form-control border text-black"
                  formControlName="vehicleRegNo" />
              </div>
              <div class="vehicleDescription text-sm" [formGroup]="vehicleForm">
                <label>Vehicle Description</label>
                <input type="text" id="vehicleDescription"
                  class="rounded-md form-control border block w-64 p-8 text-black" placeholder=""
                  formControlName="vehicleDescription" required />
              </div>
            </div>

            <div class="vehicleInput-container grid grid-cols-2 gap-4 m-4">
              <div class="vehicleChassis text-sm" [formGroup]="vehicleForm">
                <label>Chassis Number</label>
                <input type="text" id="vehicleChassis" class="rounded-md form-control border text-black" placeholder=""
                  formControlName="chassisNumber" required />
              </div>

              <div class="vehicleEngine text-sm" [formGroup]="vehicleForm">
                <label>Engine Capacity</label>
                <input type="text" id="vehicleEngine" class="form-control rounded-md border text-black" placeholder=""
                  formControlName=" engineCapacity" required />
              </div>

              <div class="Vehicle Owner text-sm" [formGroup]="vehicleForm">
                <label>Vehicle Owner</label>
                <select id="vehicleOwner" class="text-sm form-control rounded-md" formControlName="vehicleOwner"
                  required>
                  <option value="own">Own</option>
                  <option value="subhired">Subhired</option>
                </select>
              </div>

              <div class="vehicleType text-sm" [formGroup]="vehicleForm">
                <label>Vehicle Type</label>
                <select id="vehicleType" formControlName="vehicleType" class="text-sm rounded-md form-control">
                  <option value="suv">SUV</option>
                  <option value="sedan">Sedan</option>
                  <option value="hatchBack">HatchBack</option>
                </select>
              </div>

              <div class="vehicleMake text-sm" [formGroup]="vehicleForm">
                <label>Vehicle Make</label>
                <select class="text-sm form-control" id="VehicleMake" formControlName="VehicleMake" (change)="
                    fetchVehicleModels(vehicleForm.get('VehicleMake')?.value)
                  ">
                  <option selected value="toyota">Toyota</option>
                  <option *ngFor="let vehicleMake of vehicleMakeList" value="{{ vehicleMake.category_Options }}">
                    {{ vehicleMake.category_Options }}
                  </option>
                </select>
                <div *ngIf="
                    (vehicleForm.get('vehicleMake')?.invalid &&
                      vehicleForm.get('vehicleMake')?.errors &&
                      vehicleForm.get('vehicleMake')?.dirty) ||
                    vehicleForm.get('vehicleMake')?.touched
                  ">
                  <small class="text-red-700" *ngIf="vehicleForm.get('vehicleMake')?.hasError('required')">*This field
                    is required</small>
                </div>
              </div>

              <div class="m-2" [formGroup]="vehicleForm">
                <label> Vehicle Model</label>
                <select class="text-sm form-control" id="VehicleModel" formControlName="VehicleModel">
                  <option *ngFor="let vehicleModel of vehicleModelList" value="{{ vehicleModel.category_Options_1 }}">
                    {{ vehicleModel.category_Options_1 }}
                  </option>
                </select>
                <div *ngIf="
                    (vehicleForm.get('vehicleModel')?.invalid &&
                      vehicleForm.get('vehicleModel')?.errors &&
                      vehicleForm.get('vehicleModel')?.dirty) ||
                    vehicleForm.get('vehicleModel')?.touched
                  ">
                  <small class="text-red-700" *ngIf="
                      vehicleForm.get('vehicleModel')?.hasError('required')
                    ">*This field is required</small>
                </div>
              </div>
              <div class="vehicleColor text-sm" [formGroup]="vehicleForm">
                <label>Vehicle Color</label>
                <select id="vehicleColor" class="text-sm rounded-md form-control text-gray-600"
                  formControlName="vehicleColor">
                  <option value="black">Black</option>
                  <option value="grey">Grey</option>
                </select>
              </div>

              <div class="vehicleStatus mt-2" [formGroup]="vehicleForm">
                <label>Vehicle Status</label>
                <select id="vehicleStatus" class="text-sm form-control rounded-md" formControlName="vehicleStatus"
                  required>
                  <option selected>Select status</option>
                  <option value="ReadyToUse">Ready To Use</option>
                  <option value="inWorkShop">inWorkShop</option>
                  <option value="Decommisioned">Decomissioned</option>
                  <option value="Sold">Sold</option>
                </select>
              </div>

              <div class="vehicleTransmission text-sm" [formGroup]="vehicleForm">
                <label>Vehicle Transmission</label>
                <select id="vehicleTransmission" formControlName="vehicleTransmission"
                  class="text-sm rounded-md form-control">
                  <option value="4WD">4WD</option>
                  <option value="2WD">2WD</option>
                </select>
              </div>
              <div class="vehicleTransmission text-sm" [formGroup]="vehicleForm">
                <label>Vehicle RSL</label>
                <input type="text" formControlName="vehicleRsl" class="text-sm rounded-md border form-control" />
              </div>
            </div>

            <div class="datepicker-container grid grid-cols-2 gap-2 m-4">
              <div class="relative w-64 text-sm" [formGroup]="vehicleForm">
                <label>Commision Date</label>
                <input datepicker type="date" class="text-sm form-control rounded-md border"
                  formControlName="commissionDate" id="Select date" />
              </div>
              <div class="relative w-64 text-sm" [formGroup]="vehicleForm">
                <label>Inspection Date</label>
                <div class="input-group">
                  <input type="date" class="text-sm form-control rounded-md border"
                    formControlName="vehicleInspectionDate" id="vehicleInspectionDate" />
                </div>
              </div>

              <div class="relative w-64 text-sm" [formGroup]="vehicleForm">
                <label>Insurance Date</label>
                <div>
                  <input id="vehicleInsuranceDate" datepicker type="date" formControlName="vehicleInsuranceDate"
                    class="text-sm rounded-md form-control border" placeholder="Select date" />
                </div>
              </div>

              <div class="relative w-64 text-sm" [formGroup]="vehicleForm">
                <label>PsvDue Date</label>
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"></div>
                <input id="vehiclePSVDueDate" datepicker type="date" formControlName="vehiclePSVDueDate"
                  class="text-sm rounded-md form-control border" placeholder="Select date" />
              </div>
            </div>

            <div class="File m-4 grid grid-cols-2" [formGroup]="uploadForm">
              <div>
                <input type="file" fo (change)="onFileUpload($event)" [multiple]="true" [accept]="['.pdf']"
                  formControlName="File" />
                <p *ngIf="selectedFile">
                  File selected: {{ selectedFile.name }}
                </p>
                <button (click)="uploadDoc()">Upload</button>
                <div *ngIf="isLoading">Uploading...</div>
              </div>
              <div>
                <input type="file" (change)="onImageUpload($event)" [multiple]="true" [accept]="['.png']" />
                <p *ngIf="selectedImage">
                  Image selected: {{ selectedImage.name }}
                </p>
                <button (click)="uploadImg()">Upload</button>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="saveVehicle()" (click)="modal.close()">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-template>
</div>