<div class="dekiveryscreen">
  <h1 class="text-center">VehicleIN / VehicleOUT </h1>











  <div class="m-1 p-2">
    <button (click)="openForm(delivery)" (click)="vehicleMovement(deliveryForm.get('TripId')?.value)"
      class="button border-1 border  rounded-md text-red-700 p-1.5 text-sm hover:bg-red-700 hover:text-white m-2">
      VehicleIN/VehicleOUT
    </button>
    <ng-container>

    </ng-container>
    <table datatable class="table-auto w-full  hover sleek-table table-bordered hover">
      <thead class="text-sm align-text-top whitespace-nowrap ">
        <tr>
          <th class="px-4 py-2 text-center">Trip No</th>
          <th class="px-4 py-2 text-center">Transaction</th>
          <th class="px-4 py-2 text-center">Vehicle Registration</th>
          <th class="px-4 py-2 text-center">Destination</th>
          <th class="px-4 py-2 text-center">MileageOut</th>
          <th class="px-4 py-2 text-center">MileageIn</th>
          <th class="px-4 py-2 text-center">FuelIn</th>
          <th class="px-4 py-2 text-center">FuelOut</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let deliver of deliveryList" class="hover:bg-gray-100 border-b">
          <td class="px-4 py-2 text-center">{{ deliver.TripNo}}</td>
          <td class="px-4 py-2 text-center">{{ deliver.Transaction }}</td>
          <td class="px-4 py-2 text-center">{{ deliver.vehicleRegNo }}</td>
          <td class="px-4 py-2 text-center">{{ deliver.Destination }}</td>
          <td class="px-4 py-2 text-center">{{ deliver.MileageIN }}</td>
          <td class="px-4 py-2 text-center">{{ deliver.MileageOUT }}</td>
          <td class="px-4 py-2 text-center">{{ deliver.FuelIN }}</td>
          <td class="px-4 py-2 text-center">{{ deliver.FuelOUT }}</td>
          <td class="px-4 py-2 text-center">
            <button class="px-4 py-2  text-white rounded-md "><mat-icon class="text-black">edit</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>


    <ng-template #delivery let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delivery</h4>
      </div>

      <div class="modal-body">
        <form class="grid grid-cols-2 text-sm" [formGroup]="deliveryForm">
          <div class="m-2 text-sm" [formGroup]="deliveryForm">
            <label>ReservationNo</label>
            <input type="text" class="rounded-md border border-gray-400 form-control" id="BookingNo"
                readonly formControlName="BookingNo" />
        </div>
          <div class="m-2" [formGroup]="deliveryForm">
            <label>TripNo</label>
            <input type="text" class="rounded-md border border-gray-400 form-control" id="TripId" formControlName="TripId" readonly
              value="{{ tripNumber }} " />
          </div>

          <div class="m-2" [formGroup]="deliveryForm">
            <label>Transaction</label>
            <select class="form-control text-sm" [(ngModel)]="selectedTransaction" formControlName="Transaction">
              <option value="">Select transaction</option>
              <option value="VehicleOUT">VehicleOUT</option>
              <option value="VehicleIN">VehicleIN</option>
            </select>
          </div>
          <div class="m-2" [formGroup]="deliveryForm">
            <label>Name</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="BookingFor" id="name" required />
          </div>
          <div class="m-2" [formGroup]="deliveryForm">
            <label>Phone</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="PickupContactNo" id="PickupContactNo" required />
          </div>
          <div class="m-2" [formGroup]="deliveryForm">
            <label>Email</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="PickupEmail" id="PickupEmail" required />
          </div>
          <div></div>
          <div class="m-2" [formGroup]="deliveryForm">
            <label>Vehicle Make</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="VehicleMake" id="VehicleMake" required />
          </div>
          <div class="m-2" [formGroup]="deliveryForm">
            <label>Vehicle Model</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="VehicleModel" id="VehicleModel" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm">
            <label>RegNo</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="vehicleRegNo" id="vehicleRegNo" required />
          </div>



          <div class="m-2" [formGroup]="deliveryForm">
            <label>Date</label>
            <input type="date" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="FromDate" id="FromDate" />
          </div>
          <div class="m-2" [formGroup]="deliveryForm">
            <label>Time</label>
            <input type="time" class="text-sm form-control rounded-md border border-gray-400" formControlName="FromTime"
              id="FromTime"  />
          </div>

          <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='Delivery'">
            <label>Delivered by</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="DriverFirstName" id="DriverFirstName" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='Collection'">
            <label>Collected by</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="DriverFirstName" id="DriverFirstName" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction === 'Collection'">
            <label>Fuel In</label>
            <input type="number" class="text-sm form-control rounded-md border border-gray-400" formControlName="FuelIN"
              id="FuelIN" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='Delivery'">
            <label>Fuel Out</label>
            <input type="number" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="FuelOUT" id="FuelOUT" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='Collection'">
            <label>Mileage In</label>
            <input type="number" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="MileageIN" id="MileageIN" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='Delivery'">
            <label>Mileage Out</label>
            <input type="number" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="MileageOUT" id="MileageOUT" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='Collection'">
            <label>Incidents Type</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="IncidentsType" id="IncidentsType" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='Collection'">
            <label>Incident Date</label>
            <input type="date" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="IncidentDate" id="IncidentDate" required />
          </div>
          <div class="m-2" [formGroup]="deliveryForm">
            <label>Destination</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="PickupAddress" id="PickupAddress" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm">
            <label>Remarks</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400" formControlName="Remarks"
              id="Remarks" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='Collection'">
            <label>Reported by</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="ReportedBy" id="ReportedBy" required />
          </div>
          <div class="m-2 border-red-700" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='Delivery'">
            <button class="border-red-700" (click)="fetchRentalAgreement(reservationId)">Print Rental
              Agreement</button>
          </div>


          <div class="modal-footer">
            <button type="button" class="button text-white p-2 border rounded-md bg-red-700" (click)="addDelivery()"
              (click)="modal.dismiss('Cross click')" (click)="modal.dismiss('Cross click')">
              Save
            </button>
          </div>
        </form>


      </div>


    </ng-template>

  </div>
</div>