<div class="dekiveryscreen">
  <h1 class="text-center">Delivery screen</h1>


<div>
  <table class="table-auto w-full border-collapse text-center border">
    <tbody>
      <tr *ngFor="let booking of BookingData" class="border-b border-gray-200 align-text-top ">
        <td class="px-4 py-2">
          <p class="font-semibold">ReservationId:</p>
          {{ booking.ReservationId }}
        </td>
        <td class="px-4 py-2 whitespace-nowrap">
          <p class="font-semibold">BookingNo:</p>
          {{ booking.BookingNo }}
        </td>
        <td class="px-4 py-2">
          <p class="font-semibold">BookingDate:</p>
          {{ booking.ReservationDate }}
        </td>
        <td class="px-4 py-2">
          <p class="font-semibold">BookingCategory:</p>
          {{ booking.BookingCategory }}
        </td>
        <td class="px-4 py-2">
          <p class="font-semibold">BookingType:</p>
          {{ booking.BookingType }}
        </td>
        <td class="px-4 py-2 whitespace-nowrap">
          <p class="font-semibold">CompanyName:</p>
          {{ booking.companyName }}
        </td>
        <td class="px-4 py-2">
          <p class="font-semibold">CompanyCode:</p>
          {{ booking.CompanyCode }}
        </td>
        <td class="px-4 py-2">
          <p class="font-semibold">Branch:</p>
          {{ booking.Branch }}
        </td>
        <td class="px-4 py-2">
          <p class="font-semibold">BookingFor:</p>
          {{ booking.BookingFor }}
        </td>
        <td class="px-2 py-2">
          <p> <button (click)="viewBookings(Details)" (click)="fetchBooking(booking.ReservationId)"
              class="  p-1 border border-gray-600  rounded-md">
              <mat-icon>edit</mat-icon>
            </button></p>

        </td>
      </tr>
    </tbody>
  </table>
</div>

  <div class="trip-container m-2">

    


    <div class="tripTable  p-2">
      <button (click)="addTripModal(addTrips)"
        class="button text-red-700 text-sm p-2 m-2 border rounded-md border-red-500 hover:bg-red-700 hover:text-white">
        Add Trip
      </button>
      <div>
        <table class="table border border-gray-700  hover sleek-table table-bordered hover">
          <thead class=" triphead text-sm align-text-top whitespace-nowrap bg-gray-400">
            <tr>
              <th>Trip No</th>
              <th>Driver Status</th>
              <th>Trip Status</th>
              <th>From DateTime</th>
              <th>To DateTime</th>
              <th>Flight No</th>
              <th>FlightDate</th>
              <th>Airline</th>
              <th>Pick Up Address</th>
              <th>Drop Address</th>
              <th>Pick Up Contacts</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody class="text-sm whitespace-nowrap ">
            <tr class="bg-white" *ngFor="let trip of tripReservationList">
              <td><span>{{ trip.TripNo }}</span></td>
              <td><span>{{ trip.DriverServiceStatus }}</span></td>
              <td><span>{{ trip.TripStatus }}</span></td>
              <td><span>{{ trip.FromDate }}</span></td>
              <td><span>{{ trip.ToDate }}</span></td>
              <td><span>{{ trip.FlightNo }}</span></td>
              <td><span>{{ trip.FlightDate }}</span></td>
              <td class="whitespace-nowrap"><span>{{ trip.Airline }}</span></td>
              <td><span>{{ trip.PickupAddress }}</span></td>
              <td><span>{{ trip.DropAddress }}</span></td>
              <td><span>{{ trip.PickupContactNo }}</span></td>
              <td class="text-center">
                <button class="action-button" (click)="fetchTrip(trip.TripId)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>






      <!-- Add trip Modal -->
      <div class="addtripmodal">
        <ng-template #addTrips let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add Trip</h4>
          </div>
          <div class="modal-body">
            <div class="tripForm">
              <form class="m-2 text-sm border rounded-md ">
                <div class="m-2   grid grid-cols-3 ">

                  <div class="m-2 text-sm gap-2" hidden>
                    <label>reservationId</label>
                    <input type="text" class="rounded-md border border-gray-400 form-control" id="ReservationId"
                      formControlName="ReservationId" />
                  </div>



                  <div class="m-2">
                    <label> Vehicle Make </label>
                    <select class="text-sm form-control" id="VehicleMake" formControlName="VehicleMake"
                      (change)="fetchModels(tripForm.get('VehicleMake')?.value)">
                      <option selected value="toyota">Toyota</option>
                      <option *ngFor="let vehicleMake of  vehicleMakeList" value="{{ vehicleMake.category_Options }}">
                        {{ vehicleMake.category_Options }}
                      </option>
                    </select>
                    <div *ngIf="
                                          (tripForm.get('vehicleMake')?.invalid &&
                                            tripForm.get('vehicleMake')?.errors &&
                                            tripForm.get('vehicleMake')?.dirty) ||
                                          tripForm.get('vehicleMake')?.touched
                                        ">
                      <small class="text-red-700" *ngIf="tripForm.get('vehicleMake')?.hasError('required')">*This
                        field
                        is
                        required</small>
                      <small class="text-red-700" *ngIf="tripForm.get('vehicleMake')?.hasError('required')">*This
                        field
                        is
                        required</small>
                    </div>
                  </div>
                  <div class="m-2">
                    <label> Vehicle Model</label>
                    <select class="text-sm form-control" id="VehicleModel" formControlName="VehicleModel">
                      <option *ngFor="let vehicleModel of vehicleModelList"
                        value="{{ vehicleModel.category_Options_1 }}">
                        {{ vehicleModel.category_Options_1 }}
                      </option>
                    </select>
                    <div *ngIf="
                        (tripForm.get('vehicleModel')?.invalid &&
                          tripForm.get('vehicleModel')?.errors &&
                          tripForm.get('vehicleModel')?.dirty) ||
                        tripForm.get('vehicleModel')?.touched
                      ">
                      <small class="text-red-700" *ngIf="tripForm.get('VehicleModel')?.hasError('required')">*This
                        field
                        is required</small>
                    </div>
                  </div>

                  <div class="vehicleType text-sm m-2">
                    <label>Vehicle Type</label>
                    <select id="vehicleType" formControlName="vehicleType" class="text-sm rounded-md form-control">
                      <option *ngFor="let vehicleType of vehicleTypeList" value="{{ vehicleType.category_Options }}">
                        {{ vehicleType.category_Options }}
                      </option>
                      <option value="suv">SUV</option>
                      <option value="sedan">Sedan</option>
                      <option value="hatchBack">HatchBack</option>

                    </select>
                  </div>
                  <!-- </div> -->

                  <!-- <div class="m-2 text-sm gap-2"  hidden>
                    <label>reservationId</label>
                    <input type="text" class="rounded-md border border-gray-400 form-control" id="ReservationId" />
                    <input type="text" class="rounded-md border border-gray-400 form-control" id="ReservationId" />
                  </div> -->

                  <!-- <div class="tripDetails-container grid grid-cols-2 border-gray-50 mb-2"> -->
                  <div class="m-2">
                    <label>From Date Time</label>
                    <div class="input-group border rounded-md">
                      <input type="datetime-local" class="text-sm form-control rounded-md border-gray-50"
                        formControlName="FromDateTime" id="FromDateTime" />
                      <div *ngIf="
                          (tripForm.get('FromDateTime')?.invalid &&
                            tripForm.get('FromDateTime')?.errors &&
                            tripForm.get('FromDateTime')?.dirty) ||
                          tripForm.get('FromDateTime')?.touched
                        ">
                        <small class="text-red-700" *ngIf="tripForm.get('FromDateTime')?.hasError('required')">*This
                          field is
                          required</small>
                      </div>
                    </div>
                  </div>
                  <div class="m-2">
                    <label>To Date Time</label>
                    <div class="input-group border rounded-md">
                      <input type="datetime-local" class="text-sm form-control rounded-md border-gray-50"
                        formControlName="ToDateTime" id="ToDateTime" />

                      <div *ngIf="
                          (tripForm.get('ToDateTime')?.invalid &&
                            tripForm.get('ToDateTime')?.errors &&
                            tripForm.get('ToDateTime')?.dirty) ||
                          tripForm.get('ToDateTime')?.touched
                        ">
                        <small class="text-red-700" *ngIf="tripForm.get('ToDateTime')?.hasError('required')">*This
                          field
                          is
                          required</small>
                      </div>
                    </div>
                  </div>
                  <div></div>

                  <div class="m-2 text-sm gap-2">
                    <label>Pickup Address</label>
                    <input type="text" class="rounded-md border border-gray-400 form-control h-24"
                      formControlName="PickupAddress" id="PickupAddress" />
                    <div *ngIf="
                        (tripForm.get('PickupAddress')?.invalid &&
                          tripForm.get('PickupAddress')?.errors &&
                          tripForm.get('PickupAddress')?.dirty) ||
                        tripForm.get('PickupAddress')?.touched
                      ">
                      <small class="text-red-700" *ngIf="
                          tripForm.get('PickupAddress')?.hasError('required')
                        ">*This field is required</small>
                    </div>
                  </div>
                  <div class="m-2 text-sm gap-2">
                    <label>Drop Address</label>
                    <input type="text" class="rounded-md border border-gray-400 form-control h-24"
                      formControlName="DropAddress" id="DropAddress" />
                    <div *ngIf="
                        (tripForm.get('DropAddress')?.invalid &&
                          tripForm.get('DropAddress')?.errors &&
                          tripForm.get('DropAddress')?.dirty) ||
                        tripForm.get('DropAddress')?.touched
                      ">
                      <small class="text-red-700" *ngIf="tripForm.get('DropAddress')?.hasError('required')">*This
                        field
                        is
                        required</small>
                    </div>
                  </div>
                  <div></div>

                  <div class="m-2 text-sm gap-2">
                    <label>Pickup FirstName</label>
                    <input type="text" class="rounded-md border border-gray-400 form-control"
                      formControlName="FirstName" id="FirstName" />
                    <div *ngIf="
                        (tripForm.get('FirstName')?.invalid &&
                          tripForm.get('FirstName')?.errors &&
                          tripForm.get('FirstName')?.dirty) ||
                        tripForm.get('FirstName')?.touched
                      ">
                      <small class="text-red-700" *ngIf="
                          tripForm.get('FirstName')?.hasError('required')
                        ">*This field is required</small>
                    </div>
                  </div>
                  <div class="m-2 text-sm gap-2">
                    <label>Pickup LastName</label>
                    <input type="text" class="rounded-md border border-gray-400 form-control" formControlName="LastName"
                      id="LastName" />
                    <div *ngIf="
                        (tripForm.get('LastName')?.invalid &&
                          tripForm.get('LastName')?.errors &&
                          tripForm.get('LastName')?.dirty) ||
                        tripForm.get('LastName')?.touched
                      ">
                      <small class="text-red-700" *ngIf="
                          tripForm.get('LastName')?.hasError('required')
                        ">*This field is required</small>
                    </div>
                  </div>

                  <div class="m-2 text-sm gap-2">
                    <label>Pickup Contact No</label>
                    <input type="text" class="rounded-md border border-gray-400 form-control"
                      formControlName="PickupContactNo" id="PickupContactNo" />
                    <div *ngIf="
                        (tripForm.get('PickupContact')?.invalid &&
                          tripForm.get('PickupContact')?.errors &&
                          tripForm.get('PickupContact')?.dirty) ||
                        tripForm.get('PickupContact')?.touched
                      ">
                      <small class="text-red-700" *ngIf="
                          tripForm.get('PickupContact')?.hasError('required')
                        ">*This field is required</small>
                    </div>
                  </div>


                  <div class="m-2 text-sm gap-2">
                    <label>Pickup Email</label>
                    <input type="text" class="rounded-md border border-gray-400 form-control"
                      formControlName="PickupEmail" id="PickupEmail" />
                    <div *ngIf="
                        (tripForm.get('PickupEmail')?.invalid &&
                          tripForm.get('PickupEmail')?.errors &&
                          tripForm.get('PickupEmail')?.dirty) ||
                        tripForm.get('PickupEmail')?.touched
                      ">
                      <small class="text-red-700" *ngIf="tripForm.get('PickupEmail')?.hasError('required')">*This
                        field
                        is
                        required</small>
                    </div>
                  </div>
                  <!-- </div> -->

                  <!-- <div class="flightDetails grid grid-cols-2 mb-2"> -->
                  <div class="m-2 text-sm gap-2">
                    <label>Flight No</label>
                    <input type="text" class="rounded-md border border-gray-400 form-control" formControlName="FlightNo"
                      id="FlightNo" />

                    <div *ngIf="
                        (tripForm.get('FlightNo')?.invalid &&
                          tripForm.get('FlightNo')?.errors &&
                          tripForm.get('FlightNo')?.dirty) ||
                        tripForm.get('FlightNo')?.touched
                      ">
                      <small class="text-red-700" *ngIf="tripForm.get('FlightNo')?.hasError('required')">*This field
                        is
                        required</small>
                    </div>
                  </div>
                  <div class="m-2">
                    <label>Flight Date Time</label>
                    <div class="input-group border rounded-md">
                      <input type="datetime-local" class="text-sm form-control rounded-md border-gray-50"
                        formControlName="FlightDateTime" id="FlightDateTime" />

                      <div *ngIf="
                          (tripForm.get('FlightDateTime')?.invalid &&
                            tripForm.get('FlightDateTime')?.errors &&
                            tripForm.get('FlightDateTime')?.dirty) ||
                          tripForm.get('FlightDateTime')?.touched
                        ">
                        <small class="text-red-700" *ngIf="tripForm.get('FlightDateTime')?.hasError('required')">*This
                          field
                          is required</small>
                      </div>
                    </div>
                  </div>

                  <div class="m-2 text-sm gap-2">
                    <label>Airline</label>
                    <input type="text" class="rounded-md border border-gray-400 form-control" formControlName="Airline"
                      id="Airline" />
                    <div *ngIf="
                        (tripForm.get('Airline')?.invalid &&
                          tripForm.get('Airline')?.errors &&
                          tripForm.get('Airline')?.dirty) ||
                        tripForm.get('Airline')?.touched
                      ">
                      <small class="text-red-700" *ngIf="tripForm.get('Airline')?.hasError('required')">*This field is
                        required</small>
                    </div>
                  </div>
                  <!-- </div> -->

                  <!-- <div class="grid grid-cols-2 mb-2"> -->
                  <div class="m-2">
                    <label> Driver Service Status</label>
                    <select class="text-sm form-control" formControlName="DriverServiceStatus"
                      id=" DriverServiceStatus">
                      <option *ngFor="
                          let DriverServiceStatus of driverServiceStatusList
                        " value="{{ DriverServiceStatus.category_Options }}">
                        {{ DriverServiceStatus.category_Options }}
                      </option>
                      <!-- <option value="completed">Completed</option>
                        <option value="cancelled">Cancelled</option> -->
                    </select>
                    <div *ngIf="
                        (tripForm.get('DriverServiceStatus')?.invalid &&
                          tripForm.get('DriverServiceStatus')?.errors &&
                          tripForm.get('DriverServiceStatus')?.dirty) ||
                        tripForm.get('DriverServiceStatus')?.touched
                      ">
                      <small class="text-red-700" *ngIf="
                          tripForm
                            .get('DriverServiceStatus')
                            ?.hasError('required')
                        ">*This field is required</small>
                    </div>
                  </div>
                  <!-- </div> -->

                  <div class="m-2 text-sm gap-2">
                    <label>Trip Status</label>
                    <select readonly class="text-sm form-control" formControlName="TripStatus" id="TripStatus">
                      <option selected value="Scheduled">Scheduled</option>
                      <option *ngFor="let TripStatus of tripStatusList" value="{{ TripStatus.category_Options }}">
                        {{ TripStatus.category_Options }}
                      </option>
                    </select>

                    <div *ngIf="
                        (tripForm.get('TripStatus')?.invalid &&
                          tripForm.get('TripStatus')?.errors &&
                          tripForm.get('TripStatus')?.dirty) ||
                        tripForm.get('TripStatus')?.touched
                      ">
                      <small class="text-red-700" *ngIf="tripForm.get('TripStatus')?.hasError('required')">*This field
                        is
                        required</small>
                    </div>
                  </div>

                  <!-- </div> -->
                </div>
                <!-- <button type="button" class="text-sm p-2 w-24 rounded-md border-2 border-green-700"
                      (click)="saveTrip()" (click)="modal.dismiss('Cross click')">
                      Save
                    </button> -->
              </form>
            </div>
          </div>



          <div class="modal-footer">

          </div>
        </ng-template>
      </div>
      <!-- /////edit trip -->

    </div>




    <div class="tripServices-table m-2">
      <button
        class="button text-red-700 text-sm p-2 m-2 border rounded-md border-red-500 hover:bg-red-700 hover:text-white"
        (click)="viewTripModal(content)">
        Add Trip Services
      </button>
      <table datatable class="table table-bordered row-border hover text-sm">
        <thead class="text-sm">
          <tr>
            <th>Service Code</th>
            <th>Service Name</th>
            <th>Service Charge</th>
            <th>Service status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="text-sm">
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
            *ngFor="let service of tripServicesList">
            <td>
              <span>{{ service.Code }}</span>
            </td>
            <td>
              <span>{{ service.serviceDesc }}</span>
            </td>
            <td>
              <span>{{ service.TripCharge }}</span>
            </td>
            <td>
              <span>{{ service.TripServiceStatus }}</span>
            </td>
            <!-- <td>
                <span>{{ service.ServiceId }}</span>
              </td> -->
            <td>
              <button (click)="openTripServices(EditTripService)"
                class="w-24 p-2 hover:text-red-700 hover:border border-red-700 rounded-md"
                (click)="fetchRelatedTripServiceInfo(service.ServiceId)"> <mat-icon>edit</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>

      </table>
      <!-- <button (click)="navigateTo('Assignment')" class="float-right m-2 p-2">Next</button> -->
      <div>
        <ng-template #EditTripService let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Edit Trip Services</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <!-- input
                      hidden
                      type="text"
                      id="reservationId"
                      [value]="tripData[0].TripId" /> -->
          <div class="modal-body">
            <form [formGroup]="tripServicesForm" id="tripServicesForm">
              <div class="tripServicesForm grid grid-cols-2 gap-2">
                <div class="text-sm" [formGroup]="tripServicesForm">
                  <label>Trip</label>
                  <select class="text-sm form-control" id="TripId" formControlName="TripId">
                    <option readonly selected>Select the Trip Number</option>
                    <option *ngFor="let tripy of tripReservationList" value="{{ tripy.TripId }}">
                      {{ tripy.TripNo }}
                    </option>
                    <option>k</option>
                  </select>
                </div>
                <div class="text-sm" [formGroup]="tripServicesForm" hidden>
                  <label>Service No</label>


                  <input class="form-control rounded-md border border-gray-400 text-sm" type="number"
                    formControlName="ServiceId" id="ServiceId" />
                </div>
                <div></div>
                <div class="text-sm" [formGroup]="tripServicesForm">
                  <label for="serviceName  ">Service Name</label>


                  <select class="text-sm form-control" id="serviceName" formControlName="serviceName"
                    (change)="fetchServiceInfo2(tripServicesForm.get('serviceName')?.value)">
                    <option readonly selected>Select the Service Name</option>
                    <option *ngFor="let serviceName of serviceNameList" value="{{ serviceName.StockLink }}">
                      {{ serviceName.Description_1 }}
                    </option>
                    <option value="flowers">Flowers</option>
                  </select>
                </div>
                <div class="text-sm" [formGroup]="tripServicesForm">
                  <label for="ServiceCode">Service Code</label>
                  <input class="form-control rounded-md border border-gray-400 text-sm" type="text"
                    formControlName="ServiceCode" list="datalistOption" id="serviceCode"
                    placeholder="Type to search..." />
                  <datalist id="datalistOption">
                    <option value="Fl09">Fl09</option>
                    <option value="Ex899">Ex899</option>
                    <option value="FCard789">FCard789</option>
                  </datalist>
                </div>
                <div class="text-sm" [formGroup]="tripServicesForm">
                  <label for="ServiceQuantity">Service Quantity</label>
                  <input class="form-control rounded-md border border-gray-400 text-sm" type="text"
                    formControlName="ServiceQuantity" id="serviceCode" placeholder="Type to search..." />


                </div>
                <div class="text-sm" [formGroup]="tripServicesForm">
                  <label>Service Charge</label>
                  <input class="form-control rounded-md border border-gray-400 text-sm" type="text"
                    formControlName="TripCharge" id="TripCharge" />
                </div>
                <div class="text-sm" [formGroup]="tripServicesForm">
                  <label>Service Status</label>
                  <select class="text-sm form-control" formControlName="TripServiceStatus" id="TripServiceStatus"
                    [(ngModel)]="selectedStatus">
                    <option *ngFor="let status of bookingStatusData" value="{{ status.category_Options }}">
                      {{ status.category_Options }}
                    </option>
                    <!-- <option *ngFor="let TripServiceStatus of serviceStatusList"
                          value="{{ TripServiceStatus.category_Options }}">
                          {{ TripServiceStatus.category_Options }}
                        </option> -->
                  </select>
                </div>
                <div class="Remarks m-2 text-sm h-15" *ngIf="selectedStatus ==='Cancelled'">
                  <label>Remarks</label>
                  <input type="text" class="form-control rounded-md border-gray-200" formControlName="Remarks">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" (click)="editTripServicesDetails(tripServicesForm.get('ServiceId')?.value)"
                  (click)="modal.close('Save click')">
                  Save
                </button>
              </div>

            </form>
          </div>
        </ng-template>
      </div>
    </div>



    <!-- trip servicees -->
    <div>
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Add Trip Services</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            AddServices</button>
        </div>
        <div class="modal-body">
          <form id="">
            <div class=" grid grid-cols-2 gap-2">
              <div class="text-sm" [formGroup]="tripServicesForm">
                <label>Trip</label>
                <select class="text-sm form-control" id="TripId" formControlName="TripId" (click)="fetchRelatedTripServices(reservationId)">
                  <option readonly selected>Select the Trip Number</option>
                  <option *ngFor="let tripx of tripReservationList" value="{{ tripx.TripId }}">
                  {{ tripx.TripNo }}
                  </option>
                  <option>w</option>
                </select>
              </div>
              <div class="m-2 text-sm gap-2"   [formGroup]="tripServicesForm"    >
                <label>reservationId</label>
                <input type="text" class="rounded-md border border-gray-400 form-control" id="ReservationId"
                  formControlName="ReservationId" />
              </div>
              <div class="text-sm" [formGroup]="tripServicesForm">
                <label for="serviceName  ">Service Name</label>


                <select class="text-sm form-control" id="serviceName" formControlName="serviceName"
                  (change)="fetchServiceInfo2(tripServicesForm.get('serviceName')?.value)">
                  <option readonly selected>Select the Service Name</option>
                  <option *ngFor="let serviceName of serviceNameList" value="{{ serviceName.StockLink }}">
                    {{ serviceName.Description_1 }}
                  </option>
                </select>
              </div>

              <div class="text-sm">
                <label for="ServiceCode">Service Code</label>
                <input readonly class="form-control rounded-md border border-gray-400 text-sm" type="text"
                  formControlName="ServiceCode" list="datalistOption" id="serviceCode"
                  placeholder="Type to search..." />
                <datalist id="datalistOption">
                  <option value="Fl09">Fl09</option>
                  <option value="Ex899">Ex899</option>
                  <option value="FCard789">FCard789</option>
                </datalist>
              </div>
              <div class="text-sm">
                <label for="ServiceQuantity">Service Quantity</label>
                <input class="form-control rounded-md border border-gray-400 text-sm" type="text"
                  formControlName="ServiceQuantity" id="ServiceQuantity" placeholder="Type to quantity..." />


              </div>
              <div class="text-sm">
                <label>Service Charge</label>
                <input class="form-control rounded-md border border-gray-400 text-sm" type="text"
                  formControlName="TripCharge" id="TripCharge" />
              </div>
              <div class="text-sm">
                <label>Service Status</label>
                <select class="text-sm form-control" formControlName="TripServiceStatus" id="TripServiceStatus">
                  <option *ngFor="let status of bookingStatusData" value="{{ status.category_Options }}">
                    {{ status.category_Options }}
                  </option>

                </select>
              </div>

            </div>
          </form>
        </div>
        <!-- <div class="modal-footer">
              <button type="button" (click)="saveTripService()" (click)="modal.close('Save click')">Save</button>
            </div> -->
      </ng-template>
    </div>

  </div>





  <div class="m-1 p-2" *ngIf="BookingData[0]?.BookingCategory === 'SelfDriven'">
    <button (click)="open(driversInfo)"
      class="button border-1 border  rounded-md text-red-700 p-1.5 text-sm hover:bg-red-700 hover:text-white m-2">
      Add Drivers
    </button>
    <ng-container *ngIf="BookingData && BookingData.length > 0">

    </ng-container>
    <table datatable class="table-auto w-full  hover sleek-table table-bordered hover">
      <thead class="text-sm align-text-top whitespace-nowrap ">
        <tr>
          <th class="px-4 py-2 text-center">First Name</th>
          <th class="px-4 py-2 text-center">Last Name</th>
          <th class="px-4 py-2 text-center">License Expiry Date</th>
          <th class="px-4 py-2 text-center">Driver's Date of Birth</th>
          <th class="px-4 py-2 text-center">Driver License</th>
          <th class="px-4 py-2 text-center">Contact Info</th>
          <th class="px-4 py-2 text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let driver of fetchedDriverList" class="hover:bg-gray-100 border-b">
          <td class="px-4 py-2 text-center">{{ driver.DriverFirstName }}</td>
          <td class="px-4 py-2 text-center">{{ driver.DriverLastName }}</td>
          <td class="px-4 py-2 text-center">{{ driver.DriverLicenseExpiry }}</td>
          <td class="px-4 py-2 text-center">{{ driver.DriverDOB }}</td>
          <td class="px-4 py-2 text-center">{{ driver.DriverLicenseNo }}</td>
          <td class="px-4 py-2 text-center">{{ driver.ContactNo }}</td>
          <td class="px-4 py-2 text-center">
            <button class="px-4 py-2  text-white rounded-md " (click)="openDriver(editDriver)"
              (click)="fetchDriver(driver.BookingDriverId)"><mat-icon class="text-black">edit</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>


    <ng-template #driversInfo let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Driver</h4>
      </div>

      <div class="modal-body">
        <form class="grid grid-cols-2 text-sm" [formGroup]="driverForm">

          <div class="m-2 text-sm gap-2" [formGroup]="driverForm" hidden>
            <label>reservationId</label>
            <input type="text" class="rounded-md border border-gray-400 form-control" id="ReservationId"
              formControlName="ReservationId" />
          </div>
          <div class="m-2" [formGroup]="driverForm">
            <label>Driver First Name</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="DriverFirstName" id="DriverFirstName" required />
            <div *ngIf="
                                (driverForm.get('DriverFirstName')?.invalid &&
                                  driverForm.get('DriverFirstName')?.errors &&
                                  driverForm.get('DriverFirstName')?.dirty) ||
                                driverForm.get('DriverFirstName')?.touched
                              ">
              <small class="text-red-700" *ngIf="driverForm.get('DriverFirstName')?.hasError('required')">*This field
                is
                required</small>
            </div>
          </div>

          <div class="m-2" [formGroup]="driverForm">
            <label>Driver Last Name</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="DriverLastName" id="DriverLastName" />
            <div *ngIf="
                                (driverForm.get('DriverLastName')?.invalid &&
                                  driverForm.get('DriverLastName')?.errors &&
                                  driverForm.get('DriverLastName')?.dirty) ||
                                driverForm.get('DriverLastName')?.touched
                              ">
              <small class="text-red-700" *ngIf="driverForm.get('DriverLastName')?.hasError('required')">*This field
                is
                required</small>
            </div>
          </div>
          <div class="m-2" [formGroup]="driverForm">
            <label>Driver DOB</label>
            <div class="input-group border rounded-md">
              <input class="form-control border-gray-50" formControlName="DriverDOB" id="DriverDOB" type="date"
                placeholder="dd-mm-yyyy " />
              <div *ngIf="
                                  (driverForm.get('DriverDOB')?.invalid &&
                                    driverForm.get('DriverDOB')?.errors &&
                                    driverForm.get('DriverDOB')?.dirty) ||
                                  driverForm.get('DriverDOB')?.touched
                                ">
                <small class="text-red-700" *ngIf="driverForm.get('DriverDOB')?.hasError('required')">*This field is
                  required</small>
              </div>
            </div>
          </div>

          <div class="m-2" [formGroup]="driverForm">
            <label>Driver LicenseNo</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="DriverLicenseNo" id="DriverLicenseNo" />
            <div *ngIf="
                                (driverForm.get('DriverLicenseNo')?.invalid &&
                                  driverForm.get('DriverLicenseNo')?.errors &&
                                  driverForm.get('DriverLicenseNo')?.dirty) ||
                                driverForm.get('DriverLicenseNo')?.touched
                              ">
              <small class="text-red-700" *ngIf="driverForm.get('DriverLicenseNo')?.hasError('required')">*This field
                is
                required</small>
            </div>
          </div>

          <div class="m-2" [formGroup]="driverForm">
            <label>Driver License Issue</label>

            <div class="input-group border rounded-md">
              <input class="form-control border-gray-50" formControlName="DriverLicenseIssue" id="LicenseIssue"
                type="date" />
              <div *ngIf="
                                  (driverForm.get('DriverLicenseIssue')?.invalid &&
                                    driverForm.get('DriverLicenseIssue')?.errors &&
                                    driverForm.get('DriverLicenseIssue')?.dirty) ||
                                  driverForm.get('DriverLicenseIssue')?.touched
                                ">
                <small class="text-red-700" *ngIf="driverForm.get('DriverLicenseIssue')?.hasError('required')">*This
                  field is
                  required</small>
              </div>
            </div>
          </div>
          <div class="m-2" [formGroup]="driverForm">
            <label>Driver License Expiry</label>

            <div class="input-group border rounded-md">
              <input class="form-control border-gray-50" formControlName="DriverLicenseExpiry" id="DriverLicenseExpiry"
                type="date" />
            </div>
            <div *ngIf="
                              (driverForm.get('DriverLicenseExpiry')?.invalid &&
                                driverForm.get('DriverLicenseExpiry')?.errors &&
                                driverForm.get('DriverLicenseExpiry')?.dirty) ||
                              driverForm.get('DriverLicenseExpiry')?.touched
                            ">
              <small class="text-red-700" *ngIf="driverForm.get('DriverLicenseExpiry')?.hasError('required')">*This
                field is
                required</small>
            </div>
          </div>

          <div class="m-2" [formGroup]="driverForm">
            <label>IDPP</label>
            <div class="input-group border rounded-md">
              <input type="text" class="text-sm form-control rounded-md border-gray-50" formControlName="IDPP"
                id="IDPP" />
              <div *ngIf="
                                  (driverForm.get('BookingDate')?.invalid &&
                                    driverForm.get('BookingDate')?.errors &&
                                    driverForm.get('BookingDate')?.dirty) ||
                                  driverForm.get('BookingDate')?.touched
                                ">
                <small class="text-red-700" *ngIf="driverForm.get('BookingDate')?.hasError('required')">*This field is
                  required</small>
              </div>
            </div>
          </div>
          <div class="m-2" [formGroup]="driverForm">
            <label>IDPPExpiry</label>
            <div class="input-group border rounded-md">
              <input type="text" class="text-sm form-control rounded-md border-gray-50" formControlName="IDPPExpiry"
                id="IDPPExpiry" type="date" />
              <div *ngIf="
                                  (driverForm.get('IDPPExpiry')?.invalid &&
                                    driverForm.get('IDPPExpiry')?.errors &&
                                    driverForm.get('IDPPExpiry')?.dirty) ||
                                  driverForm.get('IDPPExpiry')?.touched
                                ">
                <small class="text-red-700" *ngIf="driverForm.get('BookingDate')?.hasError('required')">*This field is
                  required</small>
              </div>
            </div>
          </div>
          <div class="m-2" [formGroup]="driverForm">
            <label>CountryOfIssue</label>
            <!-- <input class="form-control w-48 rounded-md border border-gray-400 text-sm" type="text"
                  list="datalistOption1" placeholder="Type to search..." />
                <datalist id="datalistOption1">
                  <option>ygytrew</option>
                  <option>ygytrew</option>
                </datalist> -->
            <select name="" formControlName="CountryOfIssue" class="w-48 rounded-md border border-gray-400 text-sm">
              <option value="hello">hello</option>
              <option value="world">world</option>
              <option *ngFor="let country of countries" value="{{country.name}}"> {{country.name}}</option>
            </select>
          </div>


          <div class="m-2" [formGroup]="driverForm">
            <label>CountryOfResidence</label>
            <input class="form-control rounded-md border border-gray-400 text-sm" type="text"
              formControlName="CountryOfResidence" list="datalistOption" id="CountryOfResidence"
              placeholder="Type to search..." />
            <datalist id="datalistOption">
              <!-- <option *ngFor="let country of countries" [value]="country.name"> -->
            </datalist>
            <div *ngIf="
                              (driverForm.get('CountryOfResidence')?.invalid &&
                                driverForm.get('CountryOfResidence')?.errors &&
                                driverForm.get('CountryOfResidence')?.dirty) ||
                              driverForm.get('CountryOfResidence')?.touched
                            ">
              <small class="text-red-700" *ngIf="driverForm.get('CountryOfResidence')?.hasError('required')">*This
                field
                is
                required</small>
            </div>
          </div>
          <div class="m-2" [formGroup]="driverForm">
            <label>Nationality</label>
            <input class="form-control rounded-md border border-gray-400 text-sm" type="text"
              formControlName="Nationality" list="datalist" id="Nationality" placeholder="Type to search..." />
            <datalist id="datalist">
              <!-- <option *ngFor="let country of countries" value="country.name">{{ country?.name }}</option> -->
            </datalist>
            <div *ngIf="
                              (driverForm.get('Nationality')?.invalid &&
                                driverForm.get('Nationality')?.errors &&
                                driverForm.get('Nationality')?.dirty) ||
                              driverForm.get('Nationality')?.touched
                            ">
              <small class="text-red-700" *ngIf="driverForm.get('Nationality')?.hasError('required')">*This field is
                required</small>
            </div>
          </div>

          <div class="m-2" [formGroup]="driverForm">
            <label>ContactNo</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="ContactNo" id="ContactNo" list="dialingCode" placeholder="Type to search..." />
            <datalist id="dialingCode">
              <option value="" disabled selected>Select Country</option>
              <option *ngFor="let data of countries" [value]="data.name">{{ data.name }}</option>
            </datalist>

            <div *ngIf="
                                (driverForm.get('ContactNo')?.invalid &&
                                  driverForm.get('ContactNo')?.errors &&
                                  driverForm.get('ContactNo')?.dirty) ||
                                driverForm.get('ContactNo')?.touched
                              ">
              <small class="text-red-700" *ngIf="driverForm.get('ContactNo')?.hasError('required')">*This field is
                required</small>
            </div>

          </div>
          <div class=" m-2 gap-2">
            <div class="col-span-1 ">
              <label for="AddressLine1" class="text-sm">AddressLine1</label>
              <input type="text" class="text-sm form-control rounded-md border border-gray-400"
                formControlName="AddressLine1" id="AddressLine1" />
              <div
                *ngIf="(driverForm.get('AddressLine1')?.invalid && driverForm.get('AddressLine1')?.errors && driverForm.get('AddressLine1')?.dirty) || driverForm.get('AddressLine1')?.touched">
                <small class="text-red-700" *ngIf="driverForm.get('AddressLine1')?.hasError('required')">*This field
                  is required</small>
              </div>
            </div>

            <div class="col-span-1">
              <label for="AddressLine2" class="text-sm">AddressLine2</label>
              <input type="text" class="text-sm form-control rounded-md border border-gray-400"
                formControlName="AddressLine2" id="AddressLine2" />
              <div
                *ngIf="(driverForm.get('AddressLine2')?.invalid && driverForm.get('AddressLine2')?.errors && driverForm.get('AddressLine2')?.dirty) || driverForm.get('AddressLine2')?.touched">
                <small class="text-red-700" *ngIf="driverForm.get('AddressLine2')?.hasError('required')">*This field
                  is required</small>
              </div>
            </div>

            <div class="col-span-1">
              <label for="AddressLine3" class="text-sm">AddressLine3</label>
              <input type="text" class="text-sm form-control rounded-md border border-gray-400"
                formControlName="AddressLine3" id="AddressLine3" />
              <div
                *ngIf="(driverForm.get('AddressLine3')?.invalid && driverForm.get('AddressLine3')?.errors && driverForm.get('AddressLine3')?.dirty) || driverForm.get('AddressLine3')?.touched">
                <small class="text-red-700" *ngIf="driverForm.get('AddressLine3')?.hasError('required')">*This field
                  is required</small>
              </div>
            </div>
          </div>

          <div class="m-2" [formGroup]="driverForm">
            <label>Email</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400" formControlName="Email"
              id="Email" />
            <div *ngIf="
                                (driverForm.get('Email')?.invalid &&
                                  driverForm.get('Email')?.errors &&
                                  driverForm.get('Email')?.dirty) ||
                                driverForm.get('Email')?.touched
                              ">
              <small class="text-red-700" *ngIf="driverForm.get('Email')?.hasError('required')">*This field is
                required</small>
            </div>
          </div>
          <div class="m-2" [formGroup]="driverForm">
            <label>NextOfKinName</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="NextOfKinName" id="NextOfKinName" />
            <div *ngIf="
                                (driverForm.get('NextOfKinName')?.invalid &&
                                  driverForm.get('NextOfKinName')?.errors &&
                                  driverForm.get('NextOfKinName')?.dirty) ||
                                driverForm.get('NextOfKinName')?.touched
                              ">
              <small class="text-red-700" *ngIf="driverForm.get('NextOfKinName')?.hasError('required')">*This field is
                required</small>
            </div>
          </div>
          <div class="m-2" [formGroup]="driverForm">
            <label>NextOfKinContactNo</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="NextOfKinName" id="NextOfKinContactNo" />
            <div *ngIf="
                                (driverForm.get('NextOfKinName')?.invalid &&
                                  driverForm.get('NextOfKinName')?.errors &&
                                  driverForm.get('NextOfKinName')?.dirty) ||
                                driverForm.get('NextOfKinName')?.touched
                              ">
              <small class="text-red-700" *ngIf="driverForm.get('NextOfKinName')?.hasError('required')">*This field is
                required</small>
            </div>
          </div>

          <div class="m-2" [formGroup]="driverForm">
            <label>BookingRemarks</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="BookingRemarks" id="BookingRemarks" />
            <div *ngIf="
                                (driverForm.get('BookingRemarks')?.invalid &&
                                  driverForm.get('BookingRemarks')?.errors &&
                                  driverForm.get('BookingRemarks')?.dirty) ||
                                driverForm.get('BookingRemarks')?.touched
                              ">
              <small class="text-red-700" *ngIf="driverForm.get('BookingRemarks')?.hasError('required')">*This field
                is
                required</small>
            </div>
          </div>
          <div></div>
          <div class="modal-footer">
            <button type="button" class="button text-white p-2 border rounded-md bg-red-700" (click)="addDriver()"
              (click)="modal.close('Save click')">
              Save
            </button>
          </div>
        </form>
      </div>


    </ng-template>

  </div>


  <div class="m-1 p-2">
    <button (click)="openForm(delivery)"
      class="button border-1 border  rounded-md text-red-700 p-1.5 text-sm hover:bg-red-700 hover:text-white m-2">
      Delivery/Collection
    </button>
    <ng-container>

    </ng-container>
    <table datatable class="table-auto w-full  hover sleek-table table-bordered hover">
      <thead class="text-sm align-text-top whitespace-nowrap ">
        <tr>
          <th class="px-4 py-2 text-center">Trip No</th>
          <th class="px-4 py-2 text-center">Transaction</th>
          <th class="px-4 py-2 text-center">Vehicle Registration</th>
          <th class="px-4 py-2 text-center">Destination</th>
          <th class="px-4 py-2 text-center">MileageOut</th>
          <th class="px-4 py-2 text-center">MileageIn</th>
          <th class="px-4 py-2 text-center">FuelIn</th>
          <th class="px-4 py-2 text-center">FuelOut</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let deliver of deliveryList" class="hover:bg-gray-100 border-b">
          <td class="px-4 py-2 text-center">{{ deliver.TripNo}}</td>
          <td class="px-4 py-2 text-center">{{ deliver.Transaction }}</td>
          <td class="px-4 py-2 text-center">{{ deliver.vehicleRegNo }}</td>
          <td class="px-4 py-2 text-center">{{ deliver.Destination }}</td>
          <td class="px-4 py-2 text-center">{{ deliver.MileageIN }}</td>
          <td class="px-4 py-2 text-center">{{ deliver.MileageOUT }}</td>
          <td class="px-4 py-2 text-center">{{ deliver.FuelIN }}</td>
          <td class="px-4 py-2 text-center">{{ deliver.FuelOUT }}</td>
          <td class="px-4 py-2 text-center">
            <button class="px-4 py-2  text-white rounded-md "><mat-icon class="text-black">edit</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>


    <ng-template #delivery let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delivery</h4>
      </div>

      <div class="modal-body">
        <form class="grid grid-cols-2 text-sm" [formGroup]="deliveryForm" id="TripId">
          <div class="m-2" [formGroup]="deliveryForm">
            <label>TripNo</label>
            <select class="text-sm form-control" id="TripId" formControlName="TripId"   (change)="fetchDetails(deliveryForm.get('TripId')?.value)">
              <option readonly selected>Select the Trip Number</option>
              <option *ngFor="let tripx of tripReservationList" value="{{ tripx.TripId }}" >
              {{ tripx.TripNo }}
              </option>
            </select>
          </div>

          <div class="m-2" [formGroup]="deliveryForm">
            <label>Transaction</label>
            <select class="form-control text-sm" [(ngModel)]="selectedTransaction" formControlName="Transaction">
              <option value="">Select transaction</option>
              <option value="Delivery">Delivery</option>
              <option value="Collection">Collection</option>
            </select>
          </div>
          <div class="m-2" [formGroup]="deliveryForm">
            <label>Name</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="BookingFor" id="name" required />
          </div>
          <div class="m-2" [formGroup]="deliveryForm">
            <label>Phone</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="PickupContactNo" id="PickupContactNo" required />
          </div>
          <div class="m-2" [formGroup]="deliveryForm">
            <label>Email</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400" formControlName="PickupEmail"
              id="PickupEmail" required />
          </div>
          <div></div>
          <div class="m-2" [formGroup]="deliveryForm">
            <label>Vehicle Make</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="VehicleMake" id="VehicleMake" required />
          </div>
          <div class="m-2" [formGroup]="deliveryForm">
            <label>Vehicle Model</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="VehicleModel" id="VehicleModel" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm">
            <label>RegNo</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400" formControlName="vehicleRegNo"
              id="vehicleRegNo" required />
          </div>



          <div class="m-2" [formGroup]="deliveryForm">
            <label>Date</label>
            <input type="date" class="text-sm form-control rounded-md border border-gray-400" formControlName="BookingDate"
              id="Date" required />
          </div>
          <div class="m-2" [formGroup]="deliveryForm">
            <label>Time</label>
            <input type="time" class="text-sm form-control rounded-md border border-gray-400" formControlName="Time"
              id="Time" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='Delivery'">
            <label>Delivered by</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="DeliveredBy" id="DeliveredBy" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='Collection'">
            <label>Collected by</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="CollectedBy" id="CollectedBy" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction === 'Collection'">
            <label>Fuel In</label>
            <input type="number" class="text-sm form-control rounded-md border border-gray-400"formControlName="FuelIN"
              id="FuelIN" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='Delivery'">
            <label>Fuel Out</label>
            <input type="number" class="text-sm form-control rounded-md border border-gray-400" formControlName="FuelOUT"
              id="FuelOUT" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='Collection'">
            <label>Mileage In</label>
            <input type="number" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="MileageIN" id="MileageIN" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='Delivery'">
            <label>Mileage Out</label>
            <input type="number" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="MileageOUT" id="MileageOUT" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='Collection'">
            <label>Incidents Type</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="IncidentsType" id="IncidentsType" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='Collection'">
            <label>Incident Date</label>
            <input type="date" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="IncidentDate" id="IncidentDate" required />
          </div>
          <div class="m-2" [formGroup]="deliveryForm">
            <label>Destination</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="Destination" id="Destination" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm">
            <label>Remarks</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400" formControlName="Remarks"
              id="Remarks" required />
          </div>

          <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='Collection'">
            <label>Reported by</label>
            <input type="text" class="text-sm form-control rounded-md border border-gray-400"
              formControlName="ReportedBy" id="ReportedBy" required />
          </div>
          <div class="m-2 border-red-700" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='Delivery'">
         <button class="border-red-700" (click)="fetchRentalAgreement(reservationId)">Download Rental Agreement</button>
          </div>


          <div class="modal-footer">
            <button type="button" class="button text-white p-2 border rounded-md bg-red-700" (click)="addDelivery()"  (click)="modal.dismiss('Cross click')"  (click)="modal.dismiss('Cross click')">
              Save
            </button>
          </div>
        </form>


      </div>


    </ng-template>

  </div>
</div>