<!-- forgot-password.component.html -->
<div class="forgot-password">
    <div class="image ">
        <img src="/assets/logo.png" width="150px" height="150px">
    </div> 
    <h2>RESET PASSWORD </h2>
    <div class="line"></div>

    <form  [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
        <div class="form-group">
            <div><label for="email">Enter Email:</label></div>
           <div> <input type="email" id="email" formControlName="EmailAddress" required></div>
            <div *ngIf="forgotPasswordForm.controls['EmailAddress'].invalid && (forgotPasswordForm.controls['EmailAddress'].dirty || forgotPasswordForm.controls['EmailAddress'].touched)">
                <div *ngIf="forgotPasswordForm.controls['EmailAddress'].errors['required']">
                    Email is required.
                </div>
                <div *ngIf="forgotPasswordForm.controls['EmailAddress'].errors['EmailAddress']">
                    Invalid email address.
                </div>
            </div>
        </div><br>
        <button type="submit" [disabled]="forgotPasswordForm.invalid">Reset Password</button>
    </form>
</div>


