table {
  width: 80%;
  font-size:smaller;
  /* zoom: 0.8; */
}
/* .BookingDetails-container{
  overflow-x: scroll;
} */
@media print {
  .no-print {

      display: none;
  }
}
.upload-btn {
  padding: 8px 12px;
  color: maroon;
  border:1px  gray;
  border-radius: 4px;
  cursor: pointer;
}

/* .trip-details {
  display: flex;
  flex-direction: row;
  gap: 16px;
}



.trip-option {
  gap: 12px;
}



.trip-select {
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.2s ease;
}

.trip-select:focus {
  border-color: #007bff;
} */
