<div class="scheduledTrips">
    <h1 class="text-center m-2 font-bold text-xl">Vehicle IN/OUT</h1>

    <div class="searches" [formGroup]="scheduleSearchForm " class=" rounded-md border m-2">
        <form [formGroup]="scheduleSearchForm" class="flex m-2 font-medium gap-1">
            <div>
                <label class="text-xs">BookingNo</label>
                <input type="search" formControlName="BookingNo" class="rounded-md border-gray-300 h-8 w-24">
            </div>
            <div>
                <label class="text-xs">Booking Category</label>
                <select class="text-sm form-control w-32" id="BookingCategory" formControlName="BookingCategory">
                    <option *ngFor="let category of bookingCategoriesData" [value]="category.category_Options">
                        {{ category.category_Options }}
                    </option>
                </select>
            </div>
            <div>
                <label class="text-xs">Branch</label>
                <select class="text-sm form-control rounded-md border-gray-300 h-8 w-24" id="Branch"
                    formControlName="Branch">
                    <option *ngFor="let branch of bookingBranchData" [value]="branch.category_Options">
                        {{ branch.category_Options }}
                    </option>
                </select>
            </div>
            <div>
                <label class="text-xs">VehicleMake</label>
                <input type="text" formControlName="vehicleMake" class="rounded-md border-gray-300 h-8 w-24">
            </div>
            <div>
                <label class="text-xs">RegNo</label>
                <input type="text" formControlName="VehicleId" class="rounded-md border-gray-300 h-8 w-24">
            </div>
            <div class="flex gap-2">
                <div>
                    <label class="text-xs">From Date</label>
                    <input type="date" formControlName="FromDateTime"
                        class="rounded-md border-gray-300 text-sm h-8 w-32">
                </div>
                <div>
                    <label class="text-xs">To Date</label>
                    <input type="date" formControlName="ToDateTime" class="rounded-md border-gray-300 text-sm h-8 w-32">
                </div>
                <div class="flex items-end">
                    <button class="rounded-md p-2.5 text-white text-xs bg-red-700" type="button"
                        (click)="searchScheduled()">
                        Search
                    </button>
                </div>
            </div>
        </form>



    </div>

    <table datatable [dtOptions]="dtOptions" class="row-border hover booking   " class="display">
        <thead class=" text-sm bg-red-50 text-center whitespace-nowrap">
            <tr>
                <th>ReservationNo</th>
                <th>FromDateTime</th>
                <th>ToDateTime</th>
                <th>Vehicle IN/OUT</th>
                <th>MileageOUT</th>
                <th>MileageIN</th>
                <th>FuelIN</th>
                <th>FuelOUT</th>
                <th>BookingCategory</th>
                <th>PickUp Address</th>
                <th>Drop Address</th>
                <th class="text-center">Company Name</th>
                <th>vehicleMake</th>
                <th>vehicleModel</th>
                <th>Reg No</th>


                <th class="text-center">Action</th>
                <th class="text-center">Action</th>


            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let transaction of AllTransactions">
                <tr class="text-xs  text-center whitespace-nowrap">
                    <td>{{transaction.BookingNo}}/{{transaction.tripNumber}}</td>
                    <td>{{transaction.TripFromDateTime}}</td>
                    <td>{{transaction.TripToDateTime}}</td>
                    <td>{{transaction.Transaction}}</td>
                    <td>{{transaction.MileageOUT}}</td>
                    <td>{{transaction.MileageIN}}</td>
                    <td>{{transaction.FuelIN}}</td>
                    <td>{{transaction.FuelOUT}}</td>
                    <td>{{ transaction.BookingCategory }}</td>
                    <td>{{ transaction.PickupAddress }}</td>
                    <td>{{ transaction.DropAddress }}</td>
                    <td>{{transaction.companyName}}</td>
                    <td>{{ transaction.VehicleMake }}</td>
                    <td>{{ transaction.VehicleModel }}</td>
                    <td>{{ transaction.vehicleRegNo }}</td>


                    <td>
                        <button
                            class="button border rounded-md text-red-700 p-1 w-14 text-sm hover:bg-red-700 hover:text-white m-2">
                            <a class="nav-link" href="delivery" [routerLink]="[
                        '/delivery',
                        transaction.TransactionId
                      ]" routerLinkActive="active">
                                View
                            </a>
                            </button>
                        </td>
                            <td>
                            <button (click)="openForm(delivery)" (click)="vehicleMovement(transaction.TripId)" 
                            class="button border-1 border  rounded-md text-red-700 p-1.5 text-sm hover:bg-red-700 hover:text-white m-2">
                            Trip Finish
                          </button>
                        


                    </td>

                </tr>

            </ng-container>
        </tbody>
    </table>

    <ng-template #delivery let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Delivery</h4>
        </div>
  
        <div class="modal-body">
          <form class="grid grid-cols-2 text-sm" [formGroup]="deliveryForm">
            <div class="m-2 text-sm" [formGroup]="deliveryForm">
              <label>ReservationNo</label>
              <input type="text" class="rounded-md border border-gray-400 form-control" id="BookingNo"
                  readonly formControlName="BookingNo" />
          </div>
            <div class="m-2" [formGroup]="deliveryForm" hidden>
              <label>TripId</label>
              <input type="text" class="rounded-md border border-gray-400 form-control" id="TripId" formControlName="TripId" readonly
                value="{{ tripNumber }} " />
            </div>
            <div class="m-2" [formGroup]="deliveryForm">
              <label>TransactionId</label>
              <input type="text" class="rounded-md border border-gray-400 form-control" id="TransactionId" formControlName="TransactionId" readonly
                value="{{ TransactionId }} " />
            </div>
            <div class="m-2" [formGroup]="deliveryForm">
              <label>TripNo</label>
              <input type="text" class="rounded-md border border-gray-400 form-control" id="tripNumber" formControlName="tripNumber" readonly
                value="{{ tripNumber }} " />
            </div>
  
                       <div class="m-2" [formGroup]="deliveryForm">
                <label>Transaction</label>
                <input type="text" class="text-sm form-control rounded-md border border-gray-400" value="TripFinish">
                
            </div>
            <div class="m-2" [formGroup]="deliveryForm">
              <label>Name</label>
              <input type="text" class="text-sm form-control rounded-md border border-gray-400"
                formControlName="BookingFor" id="name" required />
            </div>
            <div class="m-2" [formGroup]="deliveryForm">
              <label>Phone</label>
              <input type="text" class="text-sm form-control rounded-md border border-gray-400"
                formControlName="PickupContactNo" id="PickupContactNo" required />
            </div>
            <div class="m-2" [formGroup]="deliveryForm">
              <label>Email</label>
              <input type="text" class="text-sm form-control rounded-md border border-gray-400"
                formControlName="PickupEmail" id="PickupEmail" required />
            </div>
            <div class="m-2" [formGroup]="deliveryForm">
              <label>Vehicle Make</label>
              <input type="text" class="text-sm form-control rounded-md border border-gray-400"
                formControlName="VehicleMake" id="VehicleMake" required />
            </div>
            <div class="m-2" [formGroup]="deliveryForm">
              <label>Vehicle Model</label>
              <input type="text" class="text-sm form-control rounded-md border border-gray-400"
                formControlName="VehicleModel" id="VehicleModel" required />
            </div>
  
            <div class="m-2" [formGroup]="deliveryForm">
              <label>RegNo</label>
              <input type="text" class="text-sm form-control rounded-md border border-gray-400"
                formControlName="vehicleRegNo" id="vehicleRegNo" required />
            </div>
  
  
  
            <div class="m-2" [formGroup]="deliveryForm">
              <label>Date</label>
              <input type="text" class="text-sm form-control rounded-md border border-gray-400"
                formControlName="FromDate" id="FromDate" />
            </div>
            <div class="m-2" [formGroup]="deliveryForm">
              <label>Time</label>
              <input type="text" class="text-sm form-control rounded-md border border-gray-400" formControlName="FromTime"
                id="FromTime"  />
            </div>
  
            <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='OUT'">
              <label>Delivered by</label>
              <input type="text" class="text-sm form-control rounded-md border border-gray-400"
                formControlName="DriverFirstName" id="DriverFirstName" required />
            </div>
  
            <div class="m-2" [formGroup]="deliveryForm" >
              <label>Collected by</label>
              <input type="text" class="text-sm form-control rounded-md border border-gray-400"
                formControlName="DriverFirstName" id="DriverFirstName" required />
            </div>
  
            <div class="m-2" [formGroup]="deliveryForm">
              <label>Fuel In</label>
              <input type="number" class="text-sm form-control rounded-md border border-gray-400" formControlName="FuelIN"
                id="FuelIN" required />
            </div>
  
            <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='OUT'">
              <label>Fuel Out</label>
              <input type="number" class="text-sm form-control rounded-md border border-gray-400"
                formControlName="FuelOUT" id="FuelOUT" required />
            </div>
  
            <div class="m-2" [formGroup]="deliveryForm">
              <label>Mileage In</label>
              <input type="number" class="text-sm form-control rounded-md border border-gray-400"
                formControlName="MileageIN" id="MileageIN" required />
            </div>
  
            <div class="m-2" [formGroup]="deliveryForm" *ngIf="selectedTransaction ==='OUT'">
              <label>Mileage Out</label>
              <input type="number" class="text-sm form-control rounded-md border border-gray-400"
                formControlName="MileageOUT" id="MileageOUT" required />
            </div>
  
            <div class="m-2" [formGroup]="deliveryForm">
              <label>Incidents Type</label>
              <input type="text" class="text-sm form-control rounded-md border border-gray-400"
                formControlName="IncidentsType" id="IncidentsType" required />
            </div>
  
            <div class="m-2" [formGroup]="deliveryForm">
              <label>Incident Date</label>
              <input type="date" class="text-sm form-control rounded-md border border-gray-400"
                formControlName="IncidentDate" id="IncidentDate" required />
            </div>
            <div class="m-2" [formGroup]="deliveryForm">
              <label>Destination</label>
              <input type="text" class="text-sm form-control rounded-md border border-gray-400"
                formControlName="PickupAddress" id="PickupAddress" required />
            </div>
  
            <div class="m-2" [formGroup]="deliveryForm">
              <label>Remarks</label>
              <input type="text" class="text-sm form-control rounded-md border border-gray-400" formControlName="Remarks"
                id="Remarks" required />
            </div>
  
            <div class="m-2" [formGroup]="deliveryForm">
              <label>Reported by</label>
              <input type="text" class="text-sm form-control rounded-md border border-gray-400"
                formControlName="ReportedBy" id="ReportedBy" required />
            </div>
          
            <div class="m-2 text-sm gap-2" [formGroup]="deliveryForm">
              <label>Trip Status</label>
              <select readonly class="text-sm form-control" formControlName="TripStatus" id="TripStatus">
                  <option *ngFor="let TripStatus of tripStatusList" value="{{ TripStatus.category_Options }}">
                      {{ TripStatus.category_Options }}
                  </option>
              </select>

             
          </div>
  
            <div class="modal-footer">
              <button type="button" class="button text-white p-2 border rounded-md bg-red-700" (click)="completeTrip(deliveryForm.get('TransactionId')?.value)"
                (click)="modal.dismiss('Cross click')" (click)="modal.dismiss('Cross click')">
                Save
              </button>
            </div>
          </form>
  
  
        </div>
  
  
      </ng-template>
</div>