body
{
align-items: center;
justify-content: center;
display:flex;
min-height: 624px;


}


.wrapper{
border-radius:16px;
background-color:#a00303;
color:white;
width: 700px;
height:670px;;
padding:8px;

}

img{
   width:200px;
   height:200px;
   position: relative;
   left:252px;   
}

  
  label
  {
   margin-left: 50px;
   font-family: arial;
   font-size:0.8rem;
     }
  .text-container
  {
    display:grid;
    grid-template-columns:auto auto;
    row-gap: none;
    justify-content:center;
    

  }   
    


 
 
  /* .text-container is for the register.html*/
 .text-container input
 {
   width:268px;
   height: 35px;
   margin-bottom: 16px;
   margin-left:50px;
   box-shadow:64px;
   color:black;
   font-family: arial; 
   font-size:1.6rem;
   border-radius:6.2px;
   border:none;
}



 ::placeholder
 {
    opacity: 60%;;
    color:gray;
    font-family:arial;
    font-size:1rem;
    
   
 }
  
 
 button{
    height:48px;
    width:176px;
    position: relative;
    left:500px;
    top:50px;
    border-radius:4.8px;
    font-weight: 8px;
    font-size:1.8rem;
    background-color: rgb(204, 200, 200);
    border:none;
    
 }
  
 button:hover{
   background-color:red;
   color:white;
 
 }


  
 .forgot{
   margin-left:192px;
   padding-left: 320px;
 }
 
 
    

 
 .remember-forgot a
 {
   margin-left:172px;
   font-size:1.1rem;
   color:aliceblue;


 }
 
 p
{
   text-align:center;
   font-family:arial;
   font-size:1rem;
   position:relative;
   top: -8px;
   color:aliceblue;
   
}

#userimg
{
   position:relative;
   top:0px;
   left:-32px;
   color:black;
    
}


   