<!-- <div class="dutyRoster-container">
    <table datatable [dtOptions]="dtOptions" class="table border border-gray-700  hover sleek-table table-bordered hover " class="display">
        <thead class="text-center text-sm align-text-top whitespace-nowrap">
            <th class="text-center">Check Out Date</th>
            <th class="text-center">Check out Time</th>
            <th class="text-center">Debitors Name</th>
            <th class="text-center">License</th>
            <th class="text-center">Chauffer</th>
            <th class="text-center">Duty Instructions</th>
        </thead>
        <tbody>
            <tr *ngFor="let duty of dutiesList">
                <td class="text-center">
                    <span> {{duty.FromDate}}</span>
                </td>
                <td class="text-center">
                    <span> {{duty.FromTime}}</span>
                </td>
                <td class="text-center">
                    <span> {{duty.companyName}}</span>
                </td>
                <td class="text-center"><span> {{duty.vehicleRegNo}}</span>
                </td>
                <td class="text-center"><span> {{duty.DriverName}}</span>
                </td>
                <td class="text-left"><span> {{duty.BookingFor}}</span>
                    <ul class="align text-left">
                        <li>
                            <p> Flight No:{{duty.FlightNo}}</p>
                        <li>
                            <p>Phone No: {{duty.PickupContactNo}}</p>
                        </li>
                        <li>
                            <p>Pick Up Time: @{{duty.FromTime}}</p>
                        <li>
                            <p> Pick Up Place{{duty.PickupAddress}}</p>
                        <li>
                            <p>{{duty.DropAddress}}</p>
                   
                </td>

            </tr>
        </tbody>
    </table>
</div> -->
<div class="dutyRoster-container p-1 bg-white rounded-lg shadow-md">
    <h1 class="text-center font-bold text-lg">Drivers Duty Roster</h1>
    <table datatable [dtOptions]="dtOptions" class="table border border-gray-300 sleek-table w-full text-sm">
      <thead class="bg-red-700 text-gray-700 text-center">
        <tr>
          <th class="text-center">Check Out Date</th>
          <th class="text-center">Check Out Time</th>
          <th class="text-center">Debitors Name</th>
          <th class="text-center">License</th>
          <th class="text-center">Driver</th>
          <th class="text-center">Duty Instructions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let duty of dutiesList" class="hover:bg-gray-100 transition-all duration-200">
          <td class=" text-center text-gray-600">
            <span>{{duty.FromDate}}</span>
          </td>
          <td class=" text-center text-gray-600">
            <span>{{duty.FromTime}}</span>
          </td>
          <td class=" text-center text-gray-600">
            <span>{{duty.companyName}}</span>
          </td>
          <td class=" text-center text-gray-600">
            <span>{{duty.vehicleRegNo}}</span>
          </td>
          <td class=" text-center text-gray-600">
            <span>{{duty.DriverName}}</span>
          </td>
          <td class=" text-left text-gray-600">
            <ul class="list-none">
              <li><p><strong>Flight No:</strong> {{duty.FlightNo}}</p></li>
              <li><p><strong>Phone No:</strong> {{duty.PickupContactNo}}</p></li>
              <li><p><strong>Pick Up Time:</strong> {{duty.FromTime}}</p></li>
              <li><p><strong>Pick Up Place:</strong> {{duty.PickupAddress}}</p></li>
              <li><p><strong>Drop Address:</strong> {{duty.DropAddress}}</p></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>