<div class="wrapper" id="loginform">
    <form [formGroup]="loginForm" class="text-black bg-gradient-to-tr from-red-200 border rounded-md m-2"> 

         <div class="image">
            <img src="/assets/logo.png">
        </div> 
        <div class="username" [formGroup]="loginForm" >
            <label for="user">ENTER USERNAME</label>

            <input type="text" id="user" formControlName="username" placeholder=" P123" name="username"> <br>
        </div><br>
        <div class="password" [formGroup]="loginForm">
            <label for="psw">ENTER PASSWORD</label><br>

            <input type="password" id="psw" formControlName="password" placeholder=" ****" name="password">
        </div>

        <div class="remember-forgot">
            <label> <input type="checkbox">Remember me</label>
            <a (click)="navigateTo('forgotPassword')">Forgot Password? </a>
        </div>

        <div class="button-login">
            <button (click)="login()">Login</button>
            <!-- <button type="submit" onclick="return myfunction">Login</button> -->
        </div>

        <div class="register-link">
            <p>Don't have an account?<a class=register href="register.html">Register</a></p>

        </div>
    </form>
    <script src="script1.js"></script>
</div>